<div id="basi_container">
    <ul id="lista_basi">
        <!--Dovrei mettere aria-label="Riproduzione <span lang="en">beat</span>"?
        se si dove? nel li? nel ul?-->
        <li class="base" role="button" title="11 - Goodbye - Big Joe" onclick="playerAudio('11 - Goodbye - Big Joe.mp3')">
            11 - <span lang="en">Goodbye</span> - Big Joe
        </li>
        <li class="base" role="button" title="Big L Ebonics" onclick="playerAudio('Big L Ebonics.mp3')" >
            Big L Ebonics
        </li>
        <li class="base" role="button" title="Busta Rhymes - Psycobusta" onclick="playerAudio('Busta Rhymes - Psycobusta.mp3')">
            Busta Rhymes - Psycobusta
        </li>
        <li class="base" role="button" title="Dilated Peoples - The Platform (Erik Sermon Remix)" onclick="playerAudio('Dilated Peoples - The Platform (Erik Sermon Remix).mp3')">
            Dilated Peoples - The Platform (Erik Sermon Remix)
        </li>
        <li class="base" role="button" title="DJ Premier - BAP" onclick="playerAudio('DJ Premier - BAP.mp3')">
            DJ Premier - BAP
        </li>
        <li class="base" role="button" title="DJ Premier - That White" onclick="playerAudio('DJ Premier - That White.mp3')">
            DJ Premier - That White
        </li>
        <li class="base" role="button" title="Full Clip-Gangstarr" onclick="playerAudio('Full Clip-Gangstarr.mp3')">
            Full Clip-Gangstarr
        </li>
        <li class="base" role="button" title="Funkdoobiest - Lost in Thought" onclick="playerAudio('Funkdoobiest - Lost in Thought.mp3')">
            Funkdoobiest - Lost in Thought
        </li>
        <li class="base" role="button" title="Gang Starr - Battle" onclick="playerAudio('Gang Starr - Battle.mp3')">
            Gang Starr - Battle
        </li>
        <li class="base" role="button" title="J. Cole - Fire Squad" onclick="playerAudio('J. Cole - Fire Squad.mp3')">
            J. Cole - Fire Squad
        </li>
        <li class="base" role="button" title="Jam Baxter - Fine (Prod GhostTown)" onclick="playerAudio('Jam Baxter - Fine (Prod GhostTown).mp3')">
            Jam Baxter - Fine (Prod GhostTown)
        </li>
        <li class="base" role="button" title="Method Man _ Redman - A-Yo" onclick="playerAudio('Method Man _ Redman - A-Yo.mp3')">
            Method Man _ Redman - A-Yo
        </li>
        <li class="base" role="button" title="Movie Villains" onclick="playerAudio('Movie Villains.mp3')">
            Movie Villains
        </li>
        <li class="base" role="button" title="Noyz Narcos - Trucemala" onclick="playerAudio('Noyz Narcos - Trucemala.mp3')">
            Noyz Narcos - Trucemala
        </li>
        <li class="base" role="button" title="RA Rugged man - Dangerous Three" onclick="playerAudio('RA Rugged man - Dangerous Three.mp3')">
            RA Rugged man - Dangerous Three
        </li>
        <li class="base" role="button" title="Step Brothers (Alchemist _ Evidence) - Step Masters" onclick="playerAudio('Step Brothers (Alchemist _ Evidence) - Step Masters.mp3')">
            Step Brothers (Alchemist _ Evidence) - Step Masters
        </li>
        <li class="base" role="button" title="Tecniche Perfette - 5" onclick="playerAudio('Tecniche Perfette - 5.mp3')">
            Tecniche Perfette - 5
        </li>
        <li class="base" role="button" title="Wu Tang Clan _ Mobb Deep - Phat Beat" onclick="playerAudio('Wu Tang Clan _ Mobb Deep - Phat Beat.mp3')">
            Wu Tang Clan _ Mobb Deep - Phat Beat
        </li>
        <li class="base" role="button" title="Timbaland - They Ain_t Ready" onclick="playerAudio('Timbaland - They Ain_t Ready.mp3')">
            Timbaland - They Ain_t Ready
        </li>
    </ul>


    <div id="audio_container">

        <button id="autoNext" title="autoPlay">autoPlay</button>
        
        <h3>Big L Ebonics</h3>
        <audio id="audio" controls>
            <source src="assets/media/basi/Big L Ebonics.mp3" type="audio/mpeg">
        </audio>
    </div>
</div>