 Una battle <span lang="en">freestyle</span> è un'arte, in cui i rapper improvvisano le rime senza avere testi precedentemente scritti. L'obiettivo è creare rime in tempo reale basandosi su ciò che sta accadendo nel momento.

<ul>Regole generali:
    <li>A meno che non detto esplicitamente, i rapper cantano per 4/4 a testa.</li>
    <li>Alla fine della battle il pubblico farà casino per ogni rapper/squadra, passa chi riceve più casino dal pubblico; se non c'è un chiaro vincitore si va allo spareggio!</li>
    <li><strong>OGNI COSA DETTA DAI <span lang="en">FREESTYLER</span> NON VA PRESA SERIAMENTE,
        IL GIOCO STA ANCHE IN QUELLO!</strong></li>
</ul>

<!--
<form method="get" action="battle.php" id="media_conta</form>iner">
    <label for="lista_battle">Tipi di battle</label>
    <select name="battle" id="lista_battle">
      <option value="Minuto"><h3>Minuto</h3></option>
    </select>



    <label for="lista_basi</div>">Instrumental</label>
    <select name="base" id="lista_basi">
      <option value="1">
        1
    </option>
    </select>
</form>
-->
<h2>Tipi di battle</h2>
<div id="container_battle">
<dl class="battle">
    <dt><h3>Minuto</h3></dt>
    <dd>
        <iframe src="https://www.youtube.com/embed/RszfbKxb460?si=S66nOyYSoWWfIMRV&amp;start=98&amp;end=210" title="Esempio Minuto" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share;" allowfullscreen>
        </iframe>
    </dd>
    <dd id="descrizione_battle">
        I rapper fanno un minuto di <span lang="en">freestyle</span> a testa, semplice</form> semplice.
    </dd>
</dl>


<form method="get" action="battle.php" id="tipo_battle">
    <label for="lista_battle">Tipi di battle</label>
    <button type="button" onclick=setIframe(0)>Minuto</button>
    <button type="button" onclick=setIframe(1)>4/4</button>
    <button type="button" onclick=setIframe(2)>Cypher</button>
    <button type="button" onclick=setIframe(3)>3/4</button>
    <button type="button" onclick=setIframe(4)>Kickback</button>
    <button type="button" onclick=setIframe(5)>Royal rumble</button>
    <button type="button" onclick=setIframe(6)>Argomento</button>
    <button type="button" onclick=setIframe(7)>Acappella</button>
    <button type="button" onclick=setIframe(8)>Oggetti</button>

</form>
</div>
                <!--Come legge 3/4 lo screen reader? tre backslash quattro? dovrebbe leggere tre quarti-->

<div id="prova_tu">
    <span>Prova tu!</span>
    <ul id="lista_basi">
        {lista_basi}
    </ul>
</div>