<div id="intro_beats" class="limitedWidth">
    <h2>Beats</h2>
    <p>Qui troverai una lista di basi strumentali da utilizzare per le tue <span lang="en">battle</span> o per le tue canzoni!</p>
    <p>Leggi la descrizione, seleziona la base che preferisci e clicca sul pulsante <span lang="en">play</span> per ascoltarla.</p>
    <p>Se vuoi ascoltare tutte le basi in sequenza, clicca sul pulsante riproduzione automatica e goditi la musica!</p>
</div>


<div id="beats_container">
    <ul id="lista_beats">
        <li class="beat" >
            <div class="firstRow">
                <div class="titoloContainer">

                    <h3 lang="en" class="titleBeat">chord base ambient music</h3>
                    
                    <button type="button" onclick="playerAudio('chord-base-ambient-music.mp3')"
                        title="Riproduci chord base ambient music" data-title-beat="chord-base-ambient-music" data-isPlaying="false">1
                    </button>    
                    
                    </span>
                    <span class='navigationHelp readDurata'>

                    </span>
                </div>
                <span class="durata" aria-hidden='true'>
            </div>

            <audio class="audioBeats" controls data-java="false">
                <source src="assets/media/basi/chord-base-ambient-music.mp3" type="audio/mpeg">
            </audio>

            <a href="#audio" tabindex="-1" aria-hidden="false">
                <span class="navigationHelp" >Vai al <span lang="en">player</span> della canzone</span>
            </a>

            <span class="descBeats">  
                    Un ritmo ipnotico che fluisce come un fiume in piena, dando spazio alle tue parole per danzare sulla sua corrente.
            </span>
            
        </li>
    
        <li class="beat">
            <div class="firstRow">
                <div class="titoloContainer">
                    <h3 lang="en" class="titleBeat">cool beat</h3>
            
                    <button type="button" onclick="playerAudio('cool-beat.mp3')" 
                    title="Riproduci cool beat" data-title-beat="cool-beat" data-isPlaying="false">2
                    </button>

                    <span class='navigationHelp readDurata'></span>
                    

                    </span>
                </div>
                <span class="durata" aria-hidden='true'></span>
            </div>
            <audio class="audioBeats" controls data-java="false">
                <source src="assets/media/basi/cool-beat.mp3" type="audio/mpeg">
            </audio>
    
            <a href="#audio" tabindex="-1">
                <span class="navigationHelp" aria-hidden="false">Vai al <span lang="en">player</span> della canzone</span>
            </a>
            <span class="descBeats">
                Un <span lang="en">beat</span> con elementi futuristici e suoni elettronici che ti trasportano in un mondo di possibilità nel quale puoi sperimentare senza limiti.
            </span>
        </li>
        <li class="beat">
            <div class="firstRow">
                <div class="titoloContainer">
                
                    <h3 lang="en" class="titleBeat">electro tribal beat</h3>
                
                    <button type="button" onclick="playerAudio('electro-tribal-beat.mp3')" 
                        title="Riproduci electro tribal beat" data-title-beat="electro-tribal-beat" data-isPlaying="false">3
                    </button>

                    </span>
                    <span class='navigationHelp readDurata'>

                    </span>
                </div>
                <span class="durata" aria-hidden='true'></span>
            </div>
            <audio class="audioBeats" controls data-java="false">
                <source src="assets/media/basi/electro-tribal-beat.mp3" type="audio/mpeg">
            </audio>

            <a href="#audio" tabindex="-1">
                <span class="navigationHelp" aria-hidden="false">Vai al <span lang="en">player</span> della canzone</span>
            </a>
            
               
            
            <div class="descBeats">
                Una composizione minimalista che mette in risalto la tua voce, permettendoti di dominare la scena con il tuo stile unico.
                
            </div>
        </li>
    
        <li class="beat">
            <div class="firstRow">
                <div class="titoloContainer">
                
                <h3 lang="en" class="titleBeat">elegant piano trap base</h3>
                
                    <button type="button" onclick="playerAudio('elegant-piano-trap-base.mp3')"
                    title="Riproduci elegant piano trap base" data-title-beat="elegant-piano-trap-base" data-isPlaying="false">4</button>

                <span class='navigationHelp readDurata'>

                </span>
                
                
                    
            </div>
            <span class="durata" aria-hidden='true'>

            </span>
            </div>
            <audio class="audioBeats" controls data-java="false">
                <source src="assets/media/basi/elegant-piano-trap-base.mp3" type="audio/mpeg">
            </audio>

            <a href="#audio" tabindex="-1">
                <span class="navigationHelp" aria-hidden="false">Vai al <span lang="en">player</span> della canzone</span>
            </a>  
 
            <span class="descBeats">
                Un <span lang="en">beat</span> dal groove classico e accattivante, un richiamo alle radici dell'<span lang="en">hip-hop</span>, pronto a far vibrare l'anima delle tue rime.
                
            </span>
        </li>
        
        <li class="beat">
            <div class="firstRow">
                <div class="titoloContainer">
                <h3 lang="en" class="titleBeat">hip hoptrap cotton mouth</h3>
                
                    <button type="button" onclick="playerAudio('hip-hoptrap-cotton-mouth.mp3')"
                        title="Riproduci hip hoptrap cotton mouth" data-title-beat="hip-hoptrap-cotton-mouth" data-isPlaying="false">5
                    </button>
                <span class='navigationHelp readDurata'>

                </span>
                
                    
            </div>
            
            <span class="durata" aria-hidden='true'>

            </span>
            </div>
            <audio class="audioBeats" controls data-java="false">
                <source src="assets/media/basi/hip-hoptrap-cotton-mouth.mp3" type="audio/mpeg">
            </audio>

            <a href="#audio" tabindex="-1">
                <span class="navigationHelp" aria-hidden="false">Vai al <span lang="en">player</span> della canzone</span>
            </a>
            <div class="descBeats">
                Una base ritmica pesante e decisa, pronta a sostenere le tue rime con una potenza inarrestabile.
                
            </div>
        </li>

        <li class="beat">
            <div class="firstRow">
                <div class="titoloContainer">
             
                <h3 lang="en" class="titleBeat">lonewolf dark hard sad trap beat</h3>
                    
                
                <button type="button" onclick="playerAudio('lonewolf-dark-hard-sad-trap-beat.mp3')"
                title="Riproduci lonewolf dark hard sad trap beat" data-title-beat="lonewolf-dark-hard-sad-trap-beat" data-isPlaying="false">6</button>

                <span class='navigationHelp readDurata'>

                </span>
                
                   
                    
            </div>
            <span class="durata" aria-hidden='true'>

            </span>
            </div>
            <audio class="audioBeats" controls data-java="false">
                <source src="assets/media/basi/lonewolf-dark-hard-sad-trap-beat.mp3" type="audio/mpeg">
            </audio>

            <a href="#audio" tabindex="-1">
                <span class="navigationHelp" aria-hidden="false">Vai al <span lang="en">player</span> della canzone</span>
            </a>
            <div class="descBeats">
                Una traccia con un ritmo contagioso e un beat che invoglia all'azione, perfetto per mettere in mostra la tua versatilità e la tua abilità nel <span lang="en">freestyle rap</span>.
                
            </div>
        </li>
        <li class="beat">
            <div class="firstRow">
                <div class="titoloContainer">
                
                <h3 lang="en" class="titleBeat">meet my crew</h3>
                
                
                    <button type="button" onclick="playerAudio('meet-my-crew.mp3')"
                    title="Riproduci meet my crew" data-title-beat="meet-my-crew" data-isPlaying="false">7</button>

                <span class='navigationHelp readDurata'>

                </span>
                
                    
                    
            </div>
            <span class="durata" aria-hidden='true'>

            </span>
            </div>
            <audio class="audioBeats" controls data-java="false">
                <source src="assets/media/basi/meet-my-crew.mp3" type="audio/mpeg">
            </audio>
        
            <a href="#audio" tabindex="-1">
                <span class="navigationHelp" aria-hidden="false">Vai al <span lang="en">player</span> della canzone</span>
            </a>
            
               
            
            <div class="descBeats">
                Un <span lang="en">beat</span> con una melodia maliziosa che ti invita a sfidare le convenzioni e a esplorare nuove dimensioni nel tuo <span lang="en">freestyle</span>.
                
            </div>
        </li>
        <li class="beat">
            <div class="firstRow">
                <div class="titoloContainer">
                
                <h3 lang="en" class="titleBeat">ogi feel the beat</h3>
                
                
                    <button type="button" onclick="playerAudio('ogi-feel-the-beat.mp3')"
                    title="Riproduci ogi feel the beat" data-title-beat="ogi-feel-the-beat" data-isPlaying="false">8</button>

                <span class='navigationHelp readDurata'>

                </span>
            </div>
            <span class="durata" aria-hidden='true'>

            </span>
            </div>
            <audio class="audioBeats" controls data-java="false">
                <source src="assets/media/basi/ogi-feel-the-beat.mp3" type="audio/mpeg">
            </audio>

            <a href="#audio" tabindex="-1">
                <span class="navigationHelp" aria-hidden="false">Vai al <span lang="en">player</span> della canzone</span>
            </a>
            
                
            
            <div class="descBeats">
                Un <span lang="en">beat</span> con un mix di elementi jazz e percussioni incalzanti, regalando una base sofisticata per le tue improvvisazioni poetiche.
                
            </div>
        </li>
        <li class="beat">
            <div class="firstRow">
                <div class="titoloContainer">
              
                <h3 lang="en" class="titleBeat">rk beats trap beat</h3>
                
                
                    <button type="button" onclick="playerAudio('rk-beats-trap-beat.mp3')"
                    title="Riproduci rk beats trap beat" data-title-beat="rk-beats-trap-beat" data-isPlaying="false">9</button>

                <span class='navigationHelp readDurata'>

                </span>
                
                    
                   
            </div>
            <span class="durata" aria-hidden='true'>

            </span>
            </div>
            <audio class="audioBeats" controls data-java="false">
                <source src="assets/media/basi/rk-beats-trap-beat.mp3" type="audio/mpeg">
            </audio>

            <a href="#audio" tabindex="-1">
                <span class="navigationHelp" aria-hidden="false">Vai al <span lang="en">player</span> della canzone</span>
            </a>

            <div class="descBeats">
                Una mescolanza di suoni urbani e ritmi urbani, creando un'atmosfera che ti avvolge e ti spinge a esprimere la tua autenticità nel <span lang="en">freestyle</span>.
                
            </div>
        </li>
        <li class="beat">
            <div class="firstRow">
                <div class="titoloContainer">
                
                <h3 lang="en" class="titleBeat">trap beat</h3>
                
                
                <button type="button" onclick="playerAudio('trap-beat.mp3')"
                title="Riproduci trap beat" data-title-beat="trap-beat" data-isPlaying="false">10</button>

                <span class='navigationHelp readDurata'>

                </span>
                
                   
                    
            </div>
            <span class="durata" aria-hidden='true'>

            </span>
            </div>
            <audio class="audioBeats" controls data-java="false">
                <source src="assets/media/basi/trap-beat.mp3" type="audio/mpeg">
            </audio>

            <a href="#audio" tabindex="-1">
                <span class="navigationHelp" aria-hidden="false">Vai al <span lang="en">player</span> della canzone</span>
            </a>
            
               
            
            <div class="descBeats">
                Un <span lang="en">beat</span> dall'andamento selvaggio e irregolare, perfetto per testare le tue abilità nel mantenere il controllo durante il <span lang="en">freestyle</span>.                
            </div>
        </li>

        <li class="beat">
            <div class="firstRow">
                <div class="titoloContainer">
                
                <h3 lang="en" class="titleBeat">trap beat rk beats 777 drunk time</h3>
                
                
                    <button type="button" onclick="playerAudio('trap-beat-rk-beats-777-drunk-time.mp3')"
                    title="Riproduci trap beat rk beats 777 drunk time" data-title-beat="trap-beat-rk-beats-777-drunk-time" data-isPlaying="false">11</button>
                
                <span class='navigationHelp readDurata'>

                </span>
                
                    
                    
            </div>
            <span class="durata" aria-hidden='true'>

            </span>
            </div>
            <audio class="audioBeats" controls data-java="false">
                <source src="assets/media/basi/trap-beat-rk-beats-777-drunk-time.mp3" type="audio/mpeg">
            </audio>

            <a href="#audio" tabindex="-1">
                <span class="navigationHelp" aria-hidden="false">Vai al <span lang="en">player</span> della canzone</span>
            </a>
        
            
                
            
            <div class="descBeats">
                Un <span lang="en">beat</span> dai suoni energetici e taglienti, pronto a guidare le tue rime con una potente base ritmica. 
            </div>
        </li>
        <li class="beat">
            <div class="firstRow">
                <div class="titoloContainer">
                
                <h3 lang="en" class="titleBeat">trap x dark</h3>
                
                
                    <button type="button" onclick="playerAudio('trap-x-dark.mp3')"
                    title="Riproduci trap x dark" data-title-beat="trap-x-dark" data-isPlaying="false">12</button>

                <span class='navigationHelp readDurata'>

                </span>
                
                    
                
            </div>
            <span class="durata" aria-hidden='true'>

            </span>
            </div>
            <audio class="audioBeats" controls data-java="false">
                <source src="assets/media/basi/trap-x-dark.mp3" type="audio/mpeg">
            </audio>

            <a href="#audio" tabindex="-1">
                <span class="navigationHelp" aria-hidden="false">Vai al <span lang="en">player</span> della canzone</span>
            </a>
              
            
            <div class="descBeats">
                Un <span lang="en">beat</span> dal ritmo incalzante che cattura l'attenzione sin dai primi battiti, perfetto per scatenare la tua creatività nel <span lang="en">freestyle rap</span>.
                
            </div>
        </li>
    </ul>

    <div id="audio_container" data-title-actual-beat="chord-base-ambient-music">
        <button type="button" id="autoNext" title="Riproduzione automatica">Riproduzione automatica</button>
        <h3>chord base ambient music</h3>
        <audio id="audio" controls>
            <source src="assets/media/basi/chord-base-ambient-music.mp3" type="audio/mpeg">
        </audio>
    </div>
</div>