<div id="beats_container">
    <dl id="lista_beats">

        <div class="beat" onclick="playerAudio('chord-base-ambient-music.mp3')">
            <div class="titoloContainer">
                <dt>
                <span lang="en">chord base ambient music</span>
                </dt>
                <dd class="navigationHelp"></dd>
                <dd>
                    <button type="button" data-title-beat="chord-base-ambient-music" title="Riproduci chord base ambient music" data-isPlaying="false">1</button>
                </dd>
            </div>
            <dd>
                <audio class="audioBeats" controls data-java="false">
                    <source src="../assets/media/basi/chord-base-ambient-music.mp3" type="audio/mpeg">
                </audio>
            </dd>
            <dd class="durata"></dd>
        </div>

        <div class="beat" onclick="playerAudio('cool-beat.mp3')">
            <div class="titoloContainer">
                <dt>
                    <span lang="en">cool beat</span>
                    </dt>
                <dd>
                    <button type="button" data-title-beat="cool-beat" title="Riproduci cool beat" data-isPlaying="false">2</button>
                </dd>
            </div>
            <dd>
                <audio class="audioBeats" controls data-java="false">
                    <source src="../assets/media/basi/cool-beat.mp3" type="audio/mpeg">
                </audio>
            </dd>
            <dd class="durata"></dd>
        </div>
        
        <div class="beat" onclick="playerAudio('electro-tribal-beat.mp3')">
            <div class="titoloContainer">
                <dt>
                    <span lang="en">electro tribal beat</span>
                    </dt>
                <dd>
                    <button type="button" data-title-beat="electro-tribal-beat" title="Riproduci electro tribal beat" data-isPlaying="false">3</button>
                </dd>
            </div>
            <dd>
                <audio class="audioBeats" controls data-java="false">
                    <source src="../assets/media/basi/electro-tribal-beat.mp3" type="audio/mpeg">
                </audio>
            </dd>
            <dd class="durata"></dd>
        </div>
        
        <div class="beat" onclick="playerAudio('elegant-piano-trap-base.mp3')">
            <div class="titoloContainer">
                <dt>
                    <span lang="en">elegant piano trap base</span>
                    </dt>
                <dd>
                    <button type="button" data-title-beat="elegant-piano-trap-base" title="Riproduci elegant piano trap base" data-isPlaying="false">4</button>
                </dd>
            </div>
            <dd>
                <audio class="audioBeats" controls data-java="false">
                    <source src="../assets/media/basi/elegant-piano-trap-base.mp3" type="audio/mpeg">
                </audio>
            </dd>
            <dd class="durata"></dd>
        </div>
        
        <div class="beat" onclick="playerAudio('hip-hoptrap-cotton-mouth.mp3')">
            <div class="titoloContainer">
                <dt>
                    <span lang="en">hip hoptrap cotton mouth</span>
                </dt>
                <dd>
                    <button type="button" data-title-beat="hip-hoptrap-cotton-mouth" title="Riproduci hip hoptrap cotton mouth" data-isPlaying="false">5</button>
                </dd>
            </div>
            <dd>
                <audio class="audioBeats" controls data-java="false">
                    <source src="../assets/media/basi/hip-hoptrap-cotton-mouth.mp3" type="audio/mpeg">
                </audio>
            </dd>
            <dd class="durata"></dd>
        </div>

        <div class="beat" onclick="playerAudio('lonewolf-dark-hard-sad-trap-beat.mp3')">
            <div class="titoloContainer">
                <dt>
                    <span lang="en">lonewolf dark hard sad trap beat</span>
                </dt>    
                <dd>
                    <button type="button" data-title-beat="lonewolf-dark-hard-sad-trap-beat" title="Riproduci lonewolf dark hard sad trap beat" data-isPlaying="false">6</button>
                </dd>
            </div>
            <dd>
                <audio class="audioBeats" controls data-java="false">
                    <source src="../assets/media/basi/lonewolf-dark-hard-sad-trap-beat.mp3" type="audio/mpeg">
                </audio>
            </dd>
            <dd class="durata"></dd>
        </div>

        <div class="beat" onclick="playerAudio('meet-my-crew.mp3')">
            <div class="titoloContainer">
                <dt>
                    <span lang="en">meet my crew</span>
                </dt>
                <dd>
                    <button type="button" data-title-beat="meet-my-crew" title="Riproduci meet my crew" data-isPlaying="false">7</button>
                </dd>
            </div>
            <dd>
                <audio class="audioBeats" controls data-java="false">
                    <source src="../assets/media/basi/meet-my-crew.mp3" type="audio/mpeg">
                </audio>
            </dd>
            <dd class="durata"></dd>
        </div>

        <div class="beat" onclick="playerAudio('ogi-feel-the-beat.mp3')">
            <div class="titoloContainer">
                <dt>
                    <span lang="en">ogi feel the beat</span>
                </dt>
                <dd>
                    <button type="button" data-title-beat="ogi-feel-the-beat" title="Riproduci ogi feel the beat" data-isPlaying="false">8</button>
                </dd>
            </div>
            <dd>
                <audio class="audioBeats" controls data-java="false">
                    <source src="../assets/media/basi/ogi-feel-the-beat.mp3" type="audio/mpeg">
                </audio>
            </dd>
            <dd class="durata"></dd>
        </div>

        <div class="beat" onclick="playerAudio('rk-beats-trap-beat.mp3')">
            <div class="titoloContainer">
                <dt>
                    <span lang="en">rk beats trap beat</span>
                </dt>
                <dd>
                    <button type="button" data-title-beat="rk-beats-trap-beat" title="Riproduci rk beats trap beat" data-isPlaying="false">9</button>
                </dd>
            </div>
            <dd>
                <audio class="audioBeats" controls data-java="false">
                    <source src="../assets/media/basi/rk-beats-trap-beat.mp3" type="audio/mpeg">
                </audio>
            </dd>
            <dd class="durata"></dd>
        </div>

        <div class="beat" onclick="playerAudio('trap-beat.mp3')">
            <div class="titoloContainer">
                <dt>
                    <span lang="en">trap beat</span>
                </dt>
                <dd>
                    <button type="button" data-title-beat="trap-beat" title="Riproduci trap beat" data-isPlaying="false">10</button>
                </dd>
            </div>
            <dd>
                <audio class="audioBeats" controls data-java="false">
                    <source src="../assets/media/basi/trap-beat.mp3" type="audio/mpeg">
                </audio>
            </dd>
            <dd class="durata"></dd>
        </div>

        <div class="beat" onclick="playerAudio('trap-beat-rk-beats-777-drunk-time.mp3')">
            <div class="titoloContainer">
                <dt>
                    <span lang="en">trap beat rk beats 777 drunk time</span>
                </dt>
                <dd>
                    <button type="button" data-title-beat="trap-beat-rk-beats-777-drunk-time" title="Riproduci trap beat rk beats 777 drunk time" data-isPlaying="false">11</button>
                </dd>
            </div>
            <dd>
                <audio class="audioBeats" controls data-java="false">
                    <source src="../assets/media/basi/trap-beat-rk-beats-777-drunk-time.mp3" type="audio/mpeg">
                </audio>
            </dd>
            <dd class="durata"></dd>
        </div>

        <div class="beat" onclick="playerAudio('trap-x-dark.mp3')">
            <div class="titoloContainer">
                <dt>
                    <span lang="en">trap x dark</span>
                </dt>
                <dd>
                    <button type="button" data-title-beat="trap-x-dark" title="Riproduci trap x dark" data-isPlaying="false">12</button>
                </dd>
            </div>
            <dd>
                <audio class="audioBeats" controls data-java="false">
                    <source src="../assets/media/basi/trap-x-dark.mp3" type="audio/mpeg">
                </audio>
            </dd>
            <dd class="durata"></dd>
        </div>
    </dl>

    <div id="audio_container" data-title-actual-beat="chord-base-ambient-music">
        <button type="button" id="autoNext" title="autoPlay">autoPlay</button>
        <h3>chord base ambient music</h3>
        <audio id="audio" controls >
            <source src="../assets/media/basi/chord-base-ambient-music.mp3" type="audio/mpeg">
        </audio>
    </div>
</div>