<h2 class="limitedWidth">Chi siamo</h2>
<div class="chi-siamo container limitedWidth">
    <section>
        <h3>Presentazione</h3>
        <p>
            Riuniti dalla passione per il freestyle rap, organizziamo regolarmente incontri di pura condivisione di
            ritmo e atmosfera:
            sfide di freestyle, progetti sociali e culturali, incontri con giovani talenti emergenti e molto altro,
            scopri maggiori dettagli su
            di noi. Tutti sono invitati a partecipare (gratuitamente) sia come spettatori che come protagonisti sul
            palco,
            hai talento o sei interessato? Unisciti al prossimo evento. I nostri eventi principali si distinguono in
            micelio e fungo.
        </p>
        <h4>Micelio</h4>
        <p>Il Micelio è la versione invernale del Fungo e ha luogo solitamente ogni martedì presso il Distretto Est, a
            Padova. Si tratta di una serie di eventi legati al mondo rap freestyle durante i quali si svolgono delle
            battle tra i vari partecipanti. Le classifiche sono i risultati di questi incontri.</p>
        <img src="assets/media/chi_siamo_micelio1.jpg" alt="">
        <img src="assets/media/chi_siamo_micelio2.jpg" alt="">
        <h4>Fungo</h4>
        <p>Il Fungo prende il nome dall'iconica struttura presente in piazza zanellato a Padova, dove ha luogo
            solitamente
            ogni martedì. Si tratta di una serie di eventi legati al mondo rap freestyle durante i quali si svolgono
            delle
            battle tra i vari partecipanti. Le classifiche sono i risultati di questi incontri.</p>
        <p>Esplora le <a href="classifiche.php">classifiche</a> e gli <a href="eventi.php">eventi</a></p>
        <img src="assets/media/chi_siamo_fungo1.jpg" alt="">
    </section>
    <section>
        <h3>Storia</h3>
        <p>
            Siamo appassionati di freestyle rap da sempre, ci siamo conosciuti in occasione di un evento di freestyle
            rap
        </p>
    </section>
    <section>
        <h3>Obiettivi</h3>
        <p>
            I nostri obiettivi sono quelli di promuovere la cultura del freestyle rap, di creare un ambiente di scambio
            e di crescita per i giovani talenti emergenti e di sensibilizzare la società sui temi sociali e culturali
            attraverso l'arte del freestyle rap.
        </p>
    </section>
    <section>
        <h3>Staff</h3>
        <div>
            <figure>
                <img src="assets/media/bre.jpg" alt="">
                <figcaption>Il nostro idolo</figcaption>
            </figure>
        </div>
        <p>
            Il nostro staff è composto da giovani appassionati di freestyle rap, ognuno con un ruolo ben definito e con
            competenze specifiche, ma tutti uniti dalla stessa passione.
            Alessandro, Sebastiano, Antonio, Riccardo sono i veri eroi dietro le quinte.
        </p>
        <div>
            <img src="assets/media/chi_siamo_fungo0.jpg" alt="">
        </div>
    </section>
</div>