<h2 class="limitedWidth">Chi siamo</h2>
<div id="chi-siamo-container" class="limitedWidth">
    <div id="introduzione" class="text-container">
        <p>
            Benvenuti nel <span lang="en">Restraining Stirpe Crew</span>!
        </p>
        <p>
            Siamo un eclettico collettivo di appassionati di <span lang="en">freestyle rap</span> con radici profonde nella vibrante città di Padova. Uniti dalla nostra fede nella libertà di espressione e nell'arte del <span lang="en">freestyle</span>,
            ci chiamiamo orgogliosamente "<span lang="en">Restraining Stirpe Crew</span>".
        </p>
        <p>
            Organizziamo regolarmente incontri di pura condivisione di ritmo e atmosfera: sfide di <span lang="en">freestyle</span>, progetti sociali e culturali, incontri con giovani talenti emergenti e molto altro. Tutti sono invitati a partecipare
            (gratuitamente) sia come spettatori che come protagonisti sul palco.
        </p>
    </div>
    <section id="missione">
        <h3>La Nostra Missione</h3>
        <div class="text-container">
            <p>
                I nostri obiettivi sono quelli di promuovere la cultura del <span lang="en">freestyle rap</span>, di creare un ambiente di scambio e di crescita per i giovani talenti emergenti e di sensibilizzare la società sui temi sociali e culturali
                attraverso l'arte del <span lang="en">freestyle rap</span>. Inoltre vorremmo creare uno spazio in cui la creatività trovi libertà, e le voci emergenti possano brillare. Attraverso i nostri eventi distintivi, come il "Fungo" e il "Micelio",
                celebriamo la diversità e incoraggiamo l'autenticità nel
                <span lang="en">freestyle rap</span>.
            </p>
            <p>
                Se vuoi esplorare il mondo delle battle <span lang="en">freestyle rap</span> allora approcciati alle
                <a href="modalita.php">modalità</a> delle <span lang="en">battle</span>, potrai anche provare tu stesso nella pagina dedicata ai
                <a href="beats.php"><span lang="en">beats</span></a>!
            </p>
        </div>
    </section>
    <section id="eventi">
        <h3>I Nostri Eventi Principali</h3>
        <div class="eventi-container">
            <img src="assets/media/chi_siamo_micelio.jpg" alt="Foto scattata ad un evento del Micelio, Una sala gremita di persone intente a guardare una i partecipante esibirsi">
            <div id="info-eventi" class="text-container">
                <p>
                    Si tranno principalmente di una serie di eventi legati al mondo
                    <span lang="en">rap freestyle</span> durante i quali si svolgono delle <span lang="en">battle</span> tra i vari partecipanti. Le classifiche sono i risultati di questi incontri.
                </p>
                <p>
                    Il "Fungo", nome nato dall'iconico edificio situato nella Cittadella di Padova, è il nome dell'evento estivo, ha luogo solitamente ogni martedì.
                </p>
                <p>
                    Il "Micelio", nome derivato dall'evento sopra nominato, è il nome dell'evento invernale tenuta nel locale "Distretto est", a Padova.
                </p>
                <p>
                    E molto altro ancora... ! Esplora le <a href="classifiche.php">classifiche</a> e gli <a href="eventi.php">eventi</a>
                </p>
            </div>
        </div>
    </section>
    <section id="staff">
        <h3>Lo staff</h3>
        <div class="text-container">
            <p>
                Il nostro staff è composto da giovani appassionati di <span lang="en">freestyle rap</span>, ognuno con un ruolo ben definito e con competenze specifiche, ma tutti uniti dalla stessa passione. Alessandro, Sebastiano, Antonio, Riccardo sono
                i veri eroi dietro le quinte.
            </p>
        </div>
    </section>
    <section id="comunita">
        <h3>La Comunità e gli organizzatori</h3>
        <div class="text-container">
            <p>
                Il <span lang="en">Restraining Stirpe Crew</span> non è solo un gruppo di artisti; siamo una comunità che accoglie chiunque abbia una passione per il <span lang="en">freestyle</span> rap. Condividiamo storie, risate e emozioni attraverso
                la musica, creando legami autentici con il nostro pubblico e contribuendo a plasmare la scena <span lang="en">rap</span> locale.
            </p>
            <p>
                Unisciti a noi nel viaggio musicale, esplora il nostro mondo di parole improvvisate e sperimenta la magia del <span lang="en">Restraining Stirpe Crew</span>. Siamo più di un collettivo; siamo una famiglia di creativi determinati a fare
                del <span lang="en">freestyle rap</span> un'esperienza indimenticabile a Padova e oltre.
            </p>
            <p>
                Vieni a conoscerci di persona, e insieme, facciamo crescere il nostro funghetto musicale!
            </p>
        </div>
        <img src="assets/media/chi_siamo_fungo.jpg" alt="La comunità dell'organizzazione riunita davanti all'iconico edificio del Fungo, a Padova">
    </section>
</div>