<h2 class="limitedWidth">Chi siamo</h2>
<h3 class="limitedWidth">Restraining Stirpe Crew</h3>
<h4 class="limitedWidth">Fungo & Micelio management</h4>
<h5 class="limitedWidth">Collettivo Rap, Padova</h5>
<div class="chi-siamo container limitedWidth">
    <p class="chi-siamo presentazione">
        Siamo un eclettico collettivo di appassionati di freestyle rap con radici profonde nella vibrante città di Padova.
        Uniti dalla nostra fede nella libertà di espressione e nell'arte del freestyle, ci chiamiamo orgogliosamente "Nome_Collettivo".
    </p>
    <p class="chi-siamo storia">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit
        esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident,
        sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p class="chi-siamo obiettivi">
        Il nostro obiettivo è creare uno spazio in cui la creatività trova libertà, e le voci emergenti possono brillare.
         Attraverso i nostri eventi distintivi, come il "Fungo" e il "Micelio", celebriamo la diversità e incoraggiamo l'autenticità nel freestyle rap.
    </p>
    <p class="chi-siamo staff">
        Il Nome_Collettivo non è solo un gruppo di artisti; siamo una comunità che accoglie chiunque abbia una passione per il freestyle rap. Condividiamo storie, risate e emozioni attraverso la musica, creando legami autentici con il nostro pubblico e contribuendo a plasmare la scena rap locale.
        Unisciti a noi nel viaggio musicale, esplora il nostro mondo di parole improvvisate e sperimenta la magia del Nome_Collettivo. Siamo più di un collettivo; siamo una famiglia di creativi determinati a fare del freestyle rap un'esperienza indimenticabile a Padova e oltre.
        Vieni a conoscerci di persona, e insieme, facciamo crescere il nostro funghetto musicale!
    </p>
</div>