<div class="limitedWidth div-classifica" id="{tipoEvento}">
            <p>{desTipoEvento}</p>
            <span id="sumTabella" class="navigationHelp">Tabella che riassume la classifica del {tipoEvento} con l'indicazione di <span lang="en">ranking</span>,
                nome d'arte del <span lang="en">freestyler</span>, punteggio ottenuto.</span>
            <table id="tabella-classifica" aria-describedby="sumTabella">
                <caption>Classifica {tipoEvento}</caption>
                <thead>
                <tr>
                    <th scope="col" lang="en">Ranking</th>
                    <th scope="col" lang="en">Freestyler</th>
                    <th scope="col" class="classifica-punti">Punti</th>
                </tr>
                </thead>
                <tbody>
{tableContent}
                </tbody>
            </table>
        </div>
        