        <h2 class="limitedWidth">Classifiche</h2>
        <div class="limitedWidth">
            <form method="get" action="classifiche.php" id="form-classifiche">
                <fieldset>
                    <legend>Puoi visualizzare le classifiche passate dal nostro archivio:</legend>
                    <label for="classifica">Classifica: </label>
                    <select id="classifica" name="classifica" onchange="this.form.submit()" required>
                        {classifica}
                    </select>
                </fieldset>
                <fieldset>
                    <input type="submit" name="form_submit" value="Visualizza" class="no-script"/>
                    <input type="submit" name="reset" value="Torna indietro" onclick="window.location.href='classifiche.php';"/>
                </fieldset>
            </form>
        </div>
        {classifiche}