<a id="indietro" class="limitedWidth subMenu" href="eventi.php">Torna agli eventi</a>
<h2 class="limitedWidth">{titolo}</h2>
<div id="evento-box" class="limitedWidth">
    <img src="assets/media/locandine/{locandina}" alt="">
    <dl id="evento-info">
        <dt>Data:</dt>
        <dd><time datetime="{data}">{data}</time></dd>
        <dt>Ora:</dt>
        <dd><time datetime="{ora}">{ora}</time></dd>
        <dt>Luogo:</dt>
        <dd>{luogo}</dd>
        {descrizioneEvento}
        <dt>Descrizione:</dt>
        <dd>{descrizione}</dd>
        {/descrizioneEvento} {stagioneEvento}
        <dt>Tipo evento:</dt>
        <dd>{tipoEvento}</dd>
        <dt>Data inizio stagione:</dt>
        <dd><time datetime="{dataInizioClassifica}">{dataInizioClassifica}</time></dd>
        {/stagioneEvento}
    </dl>
</div>
<div class="scroll-arrows" class="limitedWidth">
    <div>
    {eventoPrec}
    <a id="evento-prec" href="evento.php?id={idEventoPrec}" aria-label="Vai all'evento precedente"><span class="scroll-left" aria-hidden="true">&lt;</span></a>
    {/eventoPrec}
    </div>
    <div>
    {eventoSucc}
    <a id="evento-succ" href="evento.php?id={idEventoSucc}" aria-label="Vai all'evento successivo"><span class="scroll-right" aria-hidden="true">&gt;</span></a>
    {/eventoSucc}
    </div>
</div>