<a href="#lista-eventi" class="navigationHelp">Salta ai risultati prodotti dalla ricerca</a>
<h2 class="limitedWidth">Eventi</h2>
<p class="limitedWidth">Qui trovi tutti gli eventi in programma</p>
<form method="get" action="eventi.php" id="form-eventi">
    <fieldset class="limitedWidth">
        <label for="data">Filtra a partire da una data</label>
        <input type="date" name="data" id="data" value="{data}">
    </fieldset>
    <fieldset class="limitedWidth">
        <label for="titolo">Filtra per titolo</label>
        <select id="titolo" name="titolo" onchange="this.form.submit()">
            <option value="" selected>...</option>
            {listaTitoli}<option value="{titoloEvento}" {selezioneEvento}>{titoloEvento}</option>
            {/listaTitoli}
        </select>
    </fieldset>
    <fieldset class="limitedWidth">
        <input type="submit" id="submit" value="Filtra">
        <input type="button" id="reset" value="Reset" onclick="window.location.href='eventi.php'">
    </fieldset>
</form>
<div id="lista-eventi" class="limitedWidth">
    {listaEventi}<article>
        <a href="evento.php?id={idEvento}">
            <p><time datetime="{valueDataEvento}">{dataEvento}</time></p>
            <img src="assets/media/locandine/{locandinaEvento}">
            <p>{titoloEvento}</p>
        </a>
    </article>
    {/listaEventi}
</div>
{pagination}
<nav id="paginazione-eventi" class="limitedWidth" role="navigation" aria-label="Scorri tra le pagine degli eventi">
    <span>Risultati totali: {risultati}. Pagina {pagina} di {numeroPagine}: </span>
    <ul>
        {pages}
        {currentPage}
        <li class="elemento-paginazione-eventi"><a href="#" aria-label="Pagina {numeroPagina}"
                aria-current="true">{numeroPagina}</a></li>
        {/currentPage}
        {notCurrentPage}
        <li class="elemento-paginazione-eventi"><a href="eventi.php?pagina={numeroPagina}&data={data}&titolo={titolo}"
                aria-label='Vai alla pagina {numeroPagina}'>{messaggio}</a></li>
        {/notCurrentPage}
        {ellipsis}
        <li><a class="ellipsis">&#8230;</a></li>
        {/ellipsis}
        {/pages}
    </ul>
</nav>
{/pagination}