<a href="#lista-eventi" class="navigationHelp">Salta ai risultati prodotti dalla ricerca</a>
<h2 class="limitedWidth">Eventi</h2>
<p class="limitedWidth">Qui trovi tutti gli eventi in programma</p>
<form method="get" action="eventi.php" id="form-eventi">
    <fieldset class="limitedWidth">
        <label for="data">Filtra a partire da una data</label>
        <input type="date" name="data" id="data" value="{data}">
    </fieldset>
    <fieldset class="limitedWidth">
        <label for="titolo">Filtra per titolo</label>
        <select id="titolo" name="titolo" onchange="this.form.submit()">
            <option value="" selected>...</option>
            {listaTitoli}<option value="{titoloEvento}" {selezioneEvento}>{titoloEvento}</option>
            {/listaTitoli}
        </select>
    </fieldset>
    <fieldset class="limitedWidth">
        <input type="submit" id="submit" value="Filtra">
        <input type="button" id="reset" value="Reset" onclick="window.location.href='eventi.php'">
    </fieldset>
</form>
<div id="lista-eventi" class="limitedWidth">
    {listaEventi}<article>
        <a href="evento.php?id={idEvento}">
            <p><time datetime="{valueDataEvento}">{dataEvento}</time></p>
            <img src="assets/media/locandine/{locandinaEvento}">
            <p>{titoloEvento}</p>
        </a>
    </article>
    {/listaEventi}
</div>

<nav aria-label="pagination" class="l-cluster pagination">
    <ul class="pagination__list">
        <li><a href="path/to/page">Previous <span class="visuallyhidden">page</span></a></li>
        <li><a class="pagination__list__first" href="path/to/page"><span class="visuallyhidden">page</span> 1<span
                    class="visuallyhidden"> (first page)</span></a></li>
        <li><a class="ellipsis">&#8230;</a></li>
        <li><a href="path/to/page"><span class="visuallyhidden">page</span> 6</a></li>
        <li><a href="path/to/page"><span class="visuallyhidden">page</span> 7</a></li>
        <li><a href="#" aria-label="page 8" aria-current="page">8</a></li>
        <li><a href="path/to/page"><span class="visuallyhidden">page</span> 9</a></li>
        <li><a href="path/to/page"><span class="visuallyhidden">page</span> 10</a></li>
        <li><a class="ellipsis">&#8230;</a></li>
        <li><a class="pagination__list__last" href="path/to/page"><span class="visuallyhidden">page</span> 20<span
                    class="visuallyhidden"> (last page)</span></a></li>
        <li><a href="path/to/page">Next <span class="visuallyhidden">page</span></a></li>
    </ul>
</nav>

{pagination}
<nav id="paginazione-eventi" class="limitedWidth" role="navigation" aria-label="Scorri tra le pagine degli eventi">
    <span>Pagine: </span>
    <ul>
        {pages}
        {currentPage}
        <li class="elemento-paginazione-eventi"><a href="#" aria-label="Pagina {numeroPagina}" aria-current="true">{numeroPagina}</a></li>
        {/currentPage}
        {notCurrentPage}
        <li class="elemento-paginazione-eventi"><a href="eventi.php?pagina={numeroPagina}&data={data}&titolo={titolo}"
                aria-label='Vai alla pagina {numeroPagina}'>{numeroPagina}</a></li>
        {/notCurrentPage}
        {/pages}
    </ul>
</nav>
{/pagination}