<p class="limitedWidth"><a href="eventi.php">Torna alla lista degli eventi</a></p>
<h2 class="limitedWidth">{titolo}</h2>
<div id="evento-box" class="limitedWidth">
    <img src="assets/media/locandine/{locandina}">
    <div id="evento-info">
        <p>Data: <time datetime="{data}"><span>{data}</span></time></p>
        <p>Tipo evento: {tipoEvento}</p>
        <p>Data inizio: {dataInizioClassifica}</p>
        <p>Ora: <time datetime="{ora}">{ora}</time></p>
        <p>Luogo: {luogo}</p>
        <p>Descrizione: {descrizione} </p>
    </div>
</div>