<form name="modificaEmail" method="post" action="profilo.php">
    <div id="messaggiForm">
        {messaggiForm}
    </div>
    <fieldset class="inserimentoDati">
        <div id="emailField">
            <label for="email" lang="en">Nuova e-Mail:</label>
            <input type="email" id="email" name="email" placeholder="E-Mail" value="{formEmail}" required />
        </div>
    </fieldset>
    <fieldset class="bottoni">
        <input type="submit" id="submitNewEmail" name="submitNewEmail" value="Salva nuova e-Mail" />
        <input type="reset" id="reset" name="reset" value="Annulla" />
    </fieldset>
</form>