<div id="titoloHome">
    <video muted autoplay loop poster="assets/media/evento_micelio.jpg">
      <source src="assets/media/video_fungo.mp4" type="video/mp4">
      <source src="assets/media/video_fungo.webm" type="video/webm">
    </video>
    <div id="titolo">
        <H1>Il Fungo</H1>
        <p>Collettivo Rap, Padova</p>
    </div>
</div>
<div id="eventi-home">
    <dl id="eventi-home-principali">
        <div class="eventoHomePrincipale">
            <dt>Fungo</dt>
            <dd>Ogni stagione estiva blabla blabla... con chatgpt</dd>
        </div>
        <div class="eventoHomePrincipale">
            <dt>Micelio</dt>
            <dd>Dinverno, allinterno blaarf... con chatgpt</dd>
        </div>
    </dl>

</div>

<!-- carosello eventi HTML -->