<head>
    <link rel="stylesheet" type="text/css" href="styles/index.css">
    <link rel="stylesheet" type="text/css" href="styles/index_mobile.css" media="screen and (max-width: 601px)">
    <!-- <link rel="stylesheet" type="text/css" href="styles/print.css" media="print"> -->
</head>

<div id="titoloHome">
    <video muted autoplay loop>
      <source src="images/FUNGO_BW.mov" type="video/mp4">
    </video>
    <div id="titolo">
        <H1>Il Fungo</H1>
        <p>Collettivo Rap, Padova</p>
    </div>
</div>
<div id="eventi-home">
    <dl id="eventi-home-principali">
        <div class="eventoHomePrincipale">
            <dt>Fungo</dt>
            <dd>Ogni stagione estiva blabla blabla... con chatgpt</dd>
        </div>
        <div class="eventoHomePrincipale">
            <dt>Micelio</dt>
            <dd>Dinverno, allinterno blaarf... con chatgpt</dd>
        </div>
    </dl>

</div>

<!-- carosello eventi HTML -->