<section id="hero">
    <div id="titolo">
        <h2 class="title">Fungo</h2>
        <h3>Collettivo Rap, Padova</h3>
        <p>Uniti dalla passione per il <span lang="en">freestyle rap</span>, organizziamo periodicamente eventi di puro scambio di <span lang="en">flow</span> e <span lang="en">vibe</span>: <strong>sfide di <span lang="en">freestyle</span></strong>, progetti
            sociali e culturali, incontri con talenti emergenti e molto altro,
            <a href="chi-siamo.php">scopri di più su di noi</a>. Tutti sono invitati a partecipare (gratuitamente) sia come spettatori che come protagonisti sul palco, hai talento o sei interessato? Vieni al prossimo evento.</p>

        <div id="evento-home">
            {eventoHome}
            <h3>{intestazione}{prossimoEvento} Prossimo evento {/prossimoEvento} {ultimoEvento} Ultimo evento avvenuto {/ultimoEvento}{/intestazione}</h3>
            <div>
                <h4>{titolo}</h4>
                <dl>
                    <dt>Data:</dt>
                    <dd><time datetime="{data}">{data}</time></dd>
                    <dt>Ora:</dt>
                    <dd><time datetime="{ora}">{ora}</time></dd>
                    <dt>Luogo:</dt>
                    <dd>{luogo}</dd>
                </dl>
                <a href="evento.php?id={id}">Più informazioni</a>
            </div> {/eventoHome}
            <a href="eventi.php">Guarda tutti gli eventi</a>
        </div>

    </div>
    <div id="video-home">
        <video aria-label="Video di presentazione del collettivo" aria-details="#video-descrizione" controls autoplay loop muted poster="assets/media/poster.jpg" width="1080" height="1920" controlsList="nodownload" oncontextmenu="return false;">
            <source src="assets/media/video_fungo.mp4" type="video/mp4">
            <source src="assets/media/video_fungo.webm" type="video/webm">
            <p>Il tuo browser non supporta questo video</p>
            <track kind="captions" label="Video descrizione" src="assets/media/transcript_video.webvtt" srclang="it" default>
            </track>
        </video>
        <details id="video-descrizione" class="navigationHelp">
            <summary>
                Descrizione del video
            </summary>
            <p aria-label="Video descrizione">
                Brevi sequenze in cui, di sera, una folla di giovani è radunata in una piazza illuminata dai lampioni, vicino all'iconica struttura circolare con una tettoia, che ricorda un Fungo, mentre in mezzo alla folla, alcune persone stanno facendo
                <span lang="en">freestyle</span>, sono competitive ma amichevoli, altre ballano <span lang="en">break dance</span>.
            </p>
        </details>
        <p aria-label="Audio descrizione" id="audio-descrizione">
            Questo video non ha audio
        </p>
    </div>
</section>
<section id="eventi-home">
    <h3>I nostri eventi principali</h3>
    <dl>
        <div class="eventoPrincipaleHome">
            <dt>Fungo</dt>
            <dd class="ddDesc">Il Fungo prende il nome dall'iconica struttura presente in piazza zanellato a Padova, dove ha luogo solitamente ogni martedì. Si tratta di una serie di eventi legati al mondo rap freestyle durante i quali si svolgono delle battle tra i vari
                partecipanti. Le classifiche sono i risultati di questi incontri.</dd>
            <dd class="ddImg"><img src="assets/media/fungo_evento.png" alt="">
                <p>L'iconica struttura con la tettoia circolare da cui proviene il nome Fungo.</p>
            </dd>
        </div>
        <div class="eventoPrincipaleHome">
            <dt>Micelio</dt>
            <dd class="ddDesc">Il Micelio è la versione invernale del Fungo e ha luogo solitamente ogni martedì presso il Distretto Est, a Padova. Si tratta di una serie di eventi legati al mondo rap freestyle durante i quali si svolgono delle battle tra i vari partecipanti.
                Le classifiche sono i risultati di questi incontri.</dd>
            <dd class="ddImg"><img src="assets/media/micelio_evento.jpg" alt="">
                <p>Il <span lang="en">ring</span> dove avvengono le <span lang="en">battle</span> al Micelio.</p>
            </dd>

        </div>
    </dl>

</section>
<section id="freestyle" class="limitedWidth normal">
    <h3>Il <span lang="en">freestyle</span></h3>
    <p>Il <span lang="en">freestyle rap</span> è un'arte, dove i <span lang="en">rapper</span> improvvisano e eseguono versi in rima seguendo un <span lang="en">beat</span>, senza avere testi precedentemente scritti. Elementi chiave includono improvvisazione,
        ritmo e <span lang="en">flow</span>, rime e <span lang="en">punch-line</span>, creatività verbale, interazione con l'ambiente e, spesso, una componente competitiva. <a href="modalita.php">Leggi di più</a></p>
    <p><a href="beats.php">Qui</a> trovi la lista della basi strumentali selezionate dai nostri DJ, usale per i tuoi <span lang="en">freestyle</span>.</p>
</section>