<head>
    <link rel="stylesheet" type="text/css" href="styles/index.css">
    <link rel="stylesheet" type="text/css" href="styles/index_mobile.css" media="screen and (max-width: 601px)">
    <!-- <link rel="stylesheet" type="text/css" href="styles/print.css" media="print"> -->
</head>

<div class="titoloHome">
    <video muted autoplay loop>
      <source src="images/FUNGO_BW.mov" type="video/mp4">
    </video>
    <div class="titolo">
        <H1>Il Fungo</H1>
        <p>Collettivo Rap, Padova</p>
    </div>
</div>

<!-- carosello eventi HTML -->