<div class="limitedWidth">
            <h2>Inserisci i dati per il <span lang="en">login</span>.</h2>
            <form method="post" action="login.php">
                <fieldset>
                    {messaggiForm}<br/>
                    <label for="username" lang="en">Username: </label>
                    <input type="text" name="username" placeholder="Username" value="{valoreUsername}" required/><br/>
                    <label for="password" lang="en">Password: </label>
                    <input type="password" name="password" placeholder="Password" /><br/>
                    <input type="submit" id="submit" name="submit" value="Login"/>
                    <input type="reset" id="reset" value="Annulla"/>
                </fieldset>
            </form>
        </div>