<div class="limitedWidth adminPage">
    <form method="post" action="login.php">
        <div id="titolo-button">
            <h3>Accedi all'area riservata.</h3>
            <div id="titolo-buttons">
                <button type="submit" id="submit" name="submit" value="Login">Accedi</button>
                <button type="reset" id="reset" name="reset" value="Annulla">Annulla</button>
            </div>
        </div>
        {messaggiForm}
        <div id="messaggi">
            <ul id="messaggi-form">
                {messaggioForm}
                <li>{messaggio}</li>{/messaggioForm}
            </ul>
        </div>
        {/messaggiForm}
        <div class="elementi-presenti aggiunta-modifica">
            <fieldset>
                <legend>Inserisci i dati per il <span lang="en">login</span>.</legend>
                <label for="username" lang="en">Username: </label>
                <input type="text" id="username" name="username" placeholder="Username" value="{valoreUsername}" required>
                <label for="password" lang="en">Password: </label>
                <input type="password" id="password" name="password" placeholder="Password">
            </fieldset>
        </div>
    </form>
</div>