<div class="limitedWidth">
            <h2>Inserisci i dati per il <span lang="en">login</span>.</h2>
            <form method="post" action="login.php">
                <div id="messaggiForm">
                    {messaggiForm}<ul>
                        {messaggioForm}<li>{messaggio}</li>{/messaggioForm}
                    </ul>
                    {/messaggiForm}
                </div>
                <fieldset>
                    <div id="usernameField">
                        <label for="username" lang="en">Username: </label>
                        <input type="text" id="username" name="username" placeholder="Username" value="{valoreUsername}" required>
                    </div>
                    <div id="passwordField">
                        <label for="password" lang="en">Password: </label>
                        <input type="password" id="password" name="password" placeholder="Password">
                    </div>
                </fieldset>
                <fieldset class="bottoni">
                    <input type="submit" id="submit" name="submit" value="Login">
                    <input type="reset" id="reset" name="reset" value="Annulla">
                </fieldset>
            </form>
        </div>