<div id="intro_battle" class="limitedWidth">
    <h2>Il <span lang="en">freestyle rap</span></h2>
    <p>
        Il <span lang="en">freestyle rap</span> è un'arte, dove i <span lang="en">rapper</span> improvvisano e eseguono versi in rima seguendo un <span lang="en">beat</span> senza avere testi precedentemente scritti. Elementi chiave includono improvvisazione,
        ritmo e <span lang="en">flow</span>, rime e <span lang="en">punch-line</span>, creatività verbale, interazione con l'ambiente e, spesso, una componente competitiva.
    </p>
    <h3>Regole</h3>


    <ul>
        <li>A meno che non sia specificato diversamente, i rapper solitamente si esibiscono seguendo il ritmo dei <span aria-hidden="true"><sup>4</sup>/<sub>4</sub></span><span class="navigationHelp">quattro quarti</span>. Questa notazione indica che ogni
            misura musicale è composta da quattro battiti, stabilendo un fondamento ritmico comune per la performance.</li>
        <li>
            Al termine della <span lang="en">battle</span>, il pubblico reagirà facendo casino per il <span lang="en">rapper</span>/squadra che più ha preferito, la reazione più rumorosa determinerà il vincitore. In mancanza di un vincitore evidente,
            i <span lang="en">rapper</span> si sfideranno in un ulteriore <span lang="en">round</span>.</li>
        <li><strong>Ogni cosa detta dai <span lang="en">freestyler</span> non va presa seriamente, per questo sono ammessi tutti i temi,
            il gioco sta anche in quello!</strong></li>
    </ul>

</div>

<div id="container_battle">
    <h2 class="limitedWidth">Modalità</h2>
    <dl id="lista_battle" class="limitedWidth" title="Spiegazioni delle modalità">
        <div class="descBattle">
            <dt data-java="false">
                Minuto
            </dt>
            <dd>
                I <span lang="en">rapper</span> fanno un minuto di <span lang="en">freestyle</span> a testa, semplice semplice.
            </dd>
        </div>

        <div class="descBattle">
            <dt data-java="false">
                <span aria-hidden="true"><strong><sup>4</sup>/<sub>4</sub></strong></span><span class="navigationHelp">quattro quarti</span>
            </dt>
            <dd>
                La modalità più classica tra tutte, a turno i <span lang="en">rapper</span> fanno <span aria-hidden="true"><sup>4</sup>/<sub>4</sub></span><span class="navigationHelp">quattro quarti</span> a testa!
            </dd>
        </div>

        <div class="descBattle">
            <dt data-java="false">
                <span lang="en">Cypher</span>
            </dt>
            <dd>
                Un <span lang="en">cypher</span> è un cerchio di <span lang="en">rapper</span> che a turno rappano; modalità spesso utilizzata come sorta di riscaldamento pre-<span lang="en">battle</span>.
            </dd>
        </div>


        <div class="descBattle">
            <dt data-java="false">
                <span aria-hidden="true"><strong><sup>3</sup>/<sub>4</sub></strong></span><span class="navigationHelp">tre quarti</span>
            </dt>
            <dd>
                Un <span lang="en">rapper</span> canta per <span aria-hidden="true"><sup>3</sup>/<sub>4</sub></span><span class="navigationHelp">tre quarti</span>, l'altro dovrà chiudere la rima nell'ultimo quarto rimanente per poi continuare per
                <span aria-hidden="true"><sup>3</sup>/<sub>4</sub></span><span class="navigationHelp">tre quarti</span> e così via!
            </dd>
        </div>
        <div class="descBattle">
            <dt data-java="false">
                <span lang="en">KickBack</span>
            </dt>
            <dd>
                Un <span lang="en">rapper</span> fa una domanda all'altro, l'altro dovrà rispondere e fare poi una domanda a sua volta, tutto seguendo il tempo dei <span aria-hidden="true"><sup>3</sup>/<sub>4</sub></span><span class="navigationHelp">tre quarti</span>!
            </dd>
        </div>
        <div class="descBattle">
            <dt data-java="false">
                <span lang="en">Royal rumble</span>
            </dt>
            <dd>Qua i <span lang="en">rapper</span> cantano a rotazione, ad ogni match il <span lang="en">rapper</span> che meno è piaciuto viene eliminato e gli altri continuano ad affrontarsi.
            </dd>

        </div>
        <div class="descBattle">
            <dt data-java="false">
                <span>Argomento</span>
            </dt>
            <dd>
                Viene dato un argomento su cui i <span lang="en">rapper</span> dovranno cantare. Esiste la variante in cui i <span lang="en">rapper</span> vengono divisi in gruppi o "fazioni"; questi dovranno cantare elogiando la propria fazione e/o criticando
                l'altra.

            </dd>
        </div>
        <div class="descBattle">
            <dt data-java="false">
                <span>A cappella</span>
            </dt>
            <dd>
                I <span lang="en">rapper</span> si sfidano senza alcun supporto musicale, concentrandosi solo sulle loro abilità vocali e liriche.
            </dd>
        </div>

        <div class="descBattle">
            <dt data-java="false">
               <span>Oggetti</span>
            </dt>
            <dd>
                All'inizio di ogni turno ai <span lang="en">rapper</span> verranno forniti degli oggetti che non conoscono a priori e dovranno rappare su quelli.
            </dd>
        </div>
    </dl>
</div>