<script src="https://www.youtube.com/iframe_api" defer></script>
<div id="intro_battle" class="limitedWidth">
	<h2>Il <span lang="en">freestyle rap</span></h2>
	<p>
		Il <span lang="en">freestyle rap</span> è un'arte, dove i
		<span lang="en">rapper</span> improvvisano e eseguono versi in rima seguendo
		un <span lang="en">beat</span>, senza avere testi precedentemente scritti.
		Elementi chiave includono improvvisazione, ritmo e
		<span lang="en">flow</span>, rime e <span lang="en">punch-line</span>,
		creatività verbale, interazione con l'ambiente e, spesso, una componente
		competitiva.
	</p>
	<h3>Regole</h3>
	<ul>
		<li>
			A meno che non sia specificato diversamente, i rapper solitamente si
			esibiscono seguendo il ritmo dei
			<span aria-hidden="true"><sup>4</sup>/<sub>4</sub></span
			><span class="screenReaderOnly">quattro quarti</span>. Questa notazione
			indica che ogni misura musicale è composta da quattro battiti, stabilendo
			un fondamento ritmico comune per la performance.
		</li>
		<li>
			Al termine della <span lang="en">battle</span>, il pubblico reagirà
			facendo casino per il <span lang="en">rapper</span>/squadra che più ha
			preferito, la reazione più rumorosa determinerà il vincitore. In mancanza
			di un vincitore evidente, i <span lang="en">rapper</span> si sfideranno in
			un ulteriore <span lang="en">round</span>.
		</li>
		<li>
			<strong
				>Ogni cosa detta dai <span lang="en">freestyler</span> non va presa
				seriamente, per questo sono ammessi tutti i temi, il gioco sta anche in
				quello!</strong
			>
		</li>
	</ul>
</div>
<div id="container_battle">
	<div id="container_lista_battle" class="limitedWidth">
		<h2>Modalità</h2>
		<p id="descrizione-lista" class="screenReaderOnly">
			Lista delle modalità con successive spiegazioni.
		</p>
		<dl id="lista_battle" aria-describedby="descrizione-lista">
			<div class="descBattle">
				<dt>
					<span>Minuto</span>
				</dt>
				<dd>
					I <span lang="en">rapper</span> fanno un minuto di
					<span lang="en">freestyle</span> a testa, semplice semplice.
				</dd>
				<dd>
					<button
						type="button"
						title="Riproduci esempio Minuto"
						aria-label="Riproduci esempio Minuto"
						data-link="https://www.youtube-nocookie.com/embed/RszfbKxb460?enablejsapi=1&amp;start=98&amp;end=210&amp;autoplay=1"
						onclick="setIframe(0)"
						data-start="98"
						data-end="210"
					></button>
					<a
						href="#iframe_battle"
						aria-hidden="false"
						tabindex="0"
						class="playerJump , navigationHelp"
						title="vai al player video youtube"
						>vai al <span lang="en">player</span> video <span lang="en">youtube</span></a
					>
				</dd>
			</div>
			<div class="descBattle">
				<dt>
					<span aria-hidden="true"><sup>4</sup>/<sub>4</sub></span>
					<span class="screenReaderOnly">quattro quarti</span>
				</dt>
				<dd>
					La modalità più classica tra tutte, a turno i
					<span lang="en">rapper</span> fanno 4 barre a testa!
				</dd>
				<dd>
					<button
						type="button"
						title="Riproduci esempio 4/4"
						aria-label="Riproduci esempio 4/4"
						data-link="https://www.youtube-nocookie.com/embed/2ttgML437Ho?enablejsapi=1&amp;start=370&amp;end=510&amp;autoplay=1"
						onclick="setIframe(1)"
						data-start="370"
						data-end="510"
					></button>
					<a
						href="#iframe_battle"
						aria-hidden="true"
						tabindex="-1"
						class="playerJump , navigationHelp"
						title="vai al player video youtube"
						>vai al <span lang="en">player</span> video <span lang="en">youtube</span>
					</a>
				</dd>
			</div>

			<div class="descBattle">
				<dt>
					<span lang="en">Cypher</span>
				</dt>
				<dd>
					Un <span lang="en">cypher</span> è un gruppo di
					<span lang="en">rapper</span> che a turno rappano; modalità spesso
					utilizzata come sorta di riscaldamento pre-<span lang="en"
						>battle</span
					>
				</dd>
				<dd>
					<button
						type="button"
						title="Riproduci esempio Cypher"
						aria-label="Riproduci esempio Cypher"
						data-link="https://www.youtube-nocookie.com/embed/n2qPwcpdeeQ?enablejsapi=1&amp;start=117&amp;end=364&amp;autoplay=1"
						onclick="setIframe(2)"
						data-start="117"
						data-end="364"
					></button>
					<a
						href="#iframe_battle"
						aria-hidden="true"
						tabindex="-1"
						class="playerJump , navigationHelp"
						title="vai al player video youtube"
						>vai al <span lang="en">player</span> video <span lang="en">youtube</span></a
					>
				</dd>
			</div>

			<div class="descBattle">
				<dt>
					<span aria-hidden="true"><sup>3</sup>/<sub>4</sub></span>
					<span class="screenReaderOnly">tre quarti</span>
				</dt>
				<dd>
					Un <span lang="en">rapper</span> canta per
					<span aria-hidden="true"><sup>3</sup>/<sub>4</sub></span
					><span class="screenReaderOnly">tre quarti</span>, l'altro dovrà
					chiudere la rima nell'ultimo quarto rimanente per poi continuare per
					<span aria-hidden="true"><sup>3</sup>/<sub>4</sub></span
					><span class="screenReaderOnly">tre quarti</span>
					e così via!
				</dd>
				<dd>
					<button
						type="button"
						title="Riproduci esempio 3/4"
						aria-label="Riproduci esempio 3/4"
						data-link="https://www.youtube-nocookie.com/embed/n2qPwcpdeeQ?enablejsapi=1&amp;si=TkMwig5ASAn-QDDp&amp;start=778&amp;end=1014&amp;autoplay=1"
						onclick="setIframe(3)"
						data-playing="false"
						data-start="778"
						data-end="1014"
					></button>
					<a
						href="#iframe_battle"
						aria-hidden="true"
						tabindex="-1"
						class="playerJump , navigationHelp"
						title="vai al player video youtube"
						>vai al <span lang="en">player</span> video <span lang="en">youtube</span></a
					>
				</dd>
			</div>

			<div class="descBattle">
				<dt>
					<span lang="en">KickBack</span>
				</dt>
				<dd>
					Un <span lang="en">rapper</span> fa una domanda all'altro, l'altro
					dovrà rispondere e fare poi una domanda a sua volta, tutto seguendo il
					tempo dei <span aria-hidden="true"><sup>3</sup>/<sub>4</sub></span
					><span class="screenReaderOnly">tre quarti</span>!
				</dd>
				<dd>
					<button
						type="button"
						title="Riproduci esempio KickBack"
						aria-label="Riproduci esempio KickBack"
						data-link="https://www.youtube-nocookie.com/embed/n2qPwcpdeeQ?enablejsapi=1&amp;si=78l2svzMAuQgGem-&amp;start=1604&amp;end=3610&amp;autoplay=1"
						onclick="setIframe(4)"
						data-playing="false"
						data-start="1604"
						data-end="3610"
					></button>
					<a
						href="#iframe_battle"
						aria-hidden="true"
						tabindex="-1"
						class="playerJump , navigationHelp"
						title="vai al player video youtube"
						>vai al <span lang="en">player</span> video <span lang="en">youtube</span></a
					>
				</dd>
			</div>

			<div class="descBattle">
				<dt>
					<span lang="en">Royal rumble</span>
				</dt>
				<dd>
					Qua i <span lang="en">rapper</span> cantano a rotazione, ad ogni match
					il <span lang="en">rapper</span> che meno è piaciuto viene eliminato e
					gli altri continuano ad affrontarsi
				</dd>
				<dd>
					<button
						type="button"
						title="Riproduci esempio Royal rumble"
						aria-label="Riproduci esempio Royal rumble"
						data-link="https://www.youtube-nocookie.com/embed/Czp97FOKaDM?enablejsapi=1&amp;si=1T1fmAYfknrT4rnP&amp;autoplay=1"
						onclick="setIframe(5)"
						data-playing="false"
					></button>
					<a
						href="#iframe_battle"
						aria-hidden="true"
						tabindex="-1"
						class="playerJump , navigationHelp"
						title="vai al player video youtube"
						>vai al <span lang="en">player</span> video <span lang="en">youtube</span></a
					>
				</dd>
			</div>

			<div class="descBattle">
				<dt>
					<span>Argomento</span>
				</dt>
				<dd>
					Viene dato un argomento su cui i
					<span lang="en">rapper</span> dovranno cantare.
					<a
						title="Variante fazioni"
						href="https://www.youtube.com/watch?v=OQd6xAAm9nU"
						target="_blank"
						>Variante fazioni
						<span class="screenReaderOnly">
							(apre in una nuova finestra)
						</span></a
					>
				</dd>
				<dd>
					<button
						type="button"
						title="Riproduci esempio Argomento"
						aria-label="Riproduci esempio Argomento"
						data-link="https://www.youtube-nocookie.com/embed/95SZIlMiFfQ?enablejsapi=1&amp;si=tTn5cuhA1s2pQeTS&amp;start=4&amp;end=&amp;autoplay=1"
						onclick="setIframe(6)"
						data-playing="false"
					></button>
					<a
						href="#iframe_battle"
						aria-hidden="true"
						tabindex="-1"
						class="playerJump , navigationHelp"
						title="vai al player video youtube"
						>vai al <span lang="en">player</span> video <span lang="en">youtube</span></a
					>
				</dd>
			</div>
			<div class="descBattle">
				<dt>
					<span>Acappella</span>
				</dt>
				<dd>
					I <span lang="en">rapper</span> si sfidano senza alcun supporto
					musicale, concentrandosi solo sulle loro abilità vocali e liriche
				</dd>
				<dd>
					<button
						type="button"
						title="Riproduci esempio Acappella"
						aria-label="Riproduci esempio Acappella"
						data-link="https://www.youtube-nocookie.com/embed/OvVk892HzmE?enablejsapi=1&amp;si=zJjNgjiI8RlPKi7Y&amp;start=762&amp;autoplay=1"
						onclick="setIframe(7)"
						data-playing="false"
					></button>
					<a
						href="#iframe_battle"
						aria-hidden="true"
						tabindex="-1"
						class="playerJump , navigationHelp"
						title="vai al player video youtube"
						>vai al <span lang="en">player</span> video <span lang="en">youtube</span></a
					>
				</dd>
			</div>

			<div class="descBattle">
				<dt>
					<span>Oggetti</span>
				</dt>
				<dd>
					All'inizio di ogni turno ai <span lang="en">rapper</span> verranno
					forniti degli oggetti che non conoscono a priori e dovranno rappare su
					quelli.
				</dd>
				<dd>
					<button
						type="button"
						title="Riproduci esempio Oggetti"
						aria-label="Riproduci esempio Oggetti"
						data-link="https://www.youtube-nocookie.com/embed/S8Ze0GCgo4k?enablejsapi=1&amp;si=-nNRKZxPbIgU_2uI&amp;autoplay=1"
						onclick="setIframe(8)"
						data-playing="false"
					></button>
					<a
						href="#iframe_battle"
						aria-hidden="true"
						tabindex="-1"
						class="playerJump , navigationHelp"
						title="vai al player video youtube"
						>vai al <span lang="en">player</span> video <span lang="en">youtube</span></a
					>
				</dd>
			</div>
		</dl>	
	</div>
	<div id="container_iframe">
		<h3>Esempio Minuto</h3>
		<iframe
			aria-label="Player video youtube"
			id="iframe_battle"
			src="https://www.youtube-nocookie.com/embed/RszfbKxb460?enablejsapi=1&amp;si=S66nOyYSoWWfIMRV&amp;start=98&amp;end=210"
			title="Esempio Minuto"
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share;"
			allowfullscreen
		>
		</iframe>
	</div>
</div>
