<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <meta name="keywords" content="{description}">
    <meta name="description" content="{keywords}">
    <meta name="author" content="Antonio Benetazzo, Alessandro Bressan, Sebastiano Lewental, Riccardo Zaupa">

    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <link rel="stylesheet" type="text/css" href="styles/mobile.css" media="screen and (max-width: 601px)">
    <link rel="stylesheet" type="text/css" href="styles/print.css" media="print">

    <link rel="shortcut icon" type="images/png" href="">
    <!--DA FARE-->
    <script src="scripts/script.js"></script>
</head>

<body id="{pageId}" onload="{onload}">
    <header>
        <nav aria-label="Aiuti alla navigazione">
            <a class="navigationHelp" href="#content">Vai al contenuto</a>
        </nav>
        <h1>Fungo</h1>
        <nav id="menu" aria-label="site menu" opened="false">
            <a class="navigationHelp" href="#content">Salta il menù di navigazione</a> {menu}
        </nav>
    </header>
    <div id="breadcrumbs-container">
        <nav id="breadcrumbs" aria-label="Percorso">
            {breadcrumbs}
        </nav>
        <button id="btnMenu" onclick="toggleMenu()" aria-hidden="true">Menu</button>
    </div>
    <main id="content">
        {content}
    </main>
    <footer>
        <ul>
            <li><a href="https://www.instagram.com/restrainingstirpe">Instagram</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="contattaci.html">Contattaci</a></li>
            <li>Pensato e sviluppato da <a href="https://github.com/Gruppo-TecWeb">TecWeb</a>.</li>
        </ul>
    </footer>
</body>

</html>