<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <meta name="keywords" content="{description}">
    <meta name="description" content="{keywords}">
    <meta name="author" content="Antonio Benetazzo, Alessandro Bressan, Sebastiano Lewental, Riccardo Zaupa">
    <meta name="theme-color" content="#EF534A">

    <link rel="stylesheet" type="text/css" href="styles/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="styles/mobile.css" media="handheld, screen and (max-width:600px),
            only screen and (max-device-width:600px)">
    <link rel="stylesheet" type="text/css" href="styles/print.css" media="print">

    <link rel="shortcut icon" type="images/png" href="">
    <!--DA FARE-->
    <script src="scripts/script.js"></script>
</head>

<body id="{pageId}" onload="{onload}" data-menu-open="false">
    <header>
        <nav aria-label="Aiuti alla navigazione">
            <a class="navigationHelp" href="#content">Vai al contenuto</a>
        </nav>
        <a id="header-title" href="index.php">
            <h1>Fungo</h1>
        </a>
        <nav id="menu" class="mobileCard" aria-label="site menu" data-menu-open="false">
            <a class="navigationHelp" href="#content">Salta il menù di navigazione</a>
            <ul>
                {menu}
            </ul>
        </nav>
    </header>
    <div id="breadcrumbs-container" class="limitedWidth mobileCard" data-menu-open="false">
        <nav id="breadcrumbs" aria-label="Percorso">
            {breadcrumbs}
        </nav>
        <button id="btn-menu" onclick="toggleMenu()" aria-hidden="true" tabindex="-1"><span>Menu</span></button>
        <!--TabIndex tolto per non focussare il btn con screen reader-->
    </div>
    <main id="content">
        {content}
    </main>
    <!-- <a href="#content">Torna su????</a> -->
    <footer>
        <div class="limitedWidth" id="footer-credits">
            <h6>Fungo</h6>
            <p>Pensato e sviluppato da <a href="https://github.com/Gruppo-TecWeb">TecWeb</a></p>
        </div>
        <ul class="limitedWidth">
            <li><a href="https://www.instagram.com/restrainingstirpe">Instagram</a></li>
            <li><a href="contattaci.html">Contattaci</a></li>
            <li><a href="profilo.php">Area di amministrazione</a></li>
            {logout}
        </ul>
    </footer>
</body>

</html>