<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <title>{title}</title>
    <meta name="keywords" content="{description}">
    <meta name="description" content="{keywords}">
    <meta name="author" content="Antonio Benetazzo, Alessandro Bressan, Sebastiano Lewental, Riccardo Zaupa">

    <link rel="stylesheet" type="text/css" href="styles/style.css" media="handheld, screen">
    <link rel="stylesheet" type="text/css" href="styles/desktop.css" media="screen and (min-width:601px),
            only screen and (min-device-width:601px)">
    <link rel="stylesheet" type="text/css" href="styles/print.css" media="print">

    <link rel="shortcut icon" type="images/png" href=""> <!--DA FARE-->
    <script src=""></script> <!--DA FARE-->
</head>

<body id="{pageId}" onload="{onload}">
    <header id="header">
        <nav aria-label="Aiuti alla navigazione">
            <a class="navigationHelp" href="#content">Vai al contenuto</a>
        </nav>
        <h1>Fungo</h1>
    </header>

    <nav id="menu" aria-label="site menu">
        <a class="navigationHelp" href="#content">Salta il menù di navigazione</a>
        {menu}
    </nav>
    <nav id="breadcrumb" aria-label="Percorso">
        {breadcrumbs}
    </nav>
    <main id="content">
        {content}
    </main>
    <footer>
        <ul>
            <li><a href="https://www.instagram.com/restrainingstirpe">Instagram</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="contattaci.html">Contattaci</a></li>
            <li>Pensato e sviluppato da <a href="https://github.com/Gruppo-TecWeb">TecWeb</a>.</li>
        </ul>
    </footer>
</body>

</html>