        <span id="sumTabella" class="navigationHelp">Tabella che riassume i concerti del tour con l-indicazione di data, città, luogo e disponibilità dei biglietti.</span>
        <table aria-describedby="sumTabella">
            <caption>Classifica {tipoEvento}</caption>
            <thead>
            <tr>
                <th scope="col" lang="en">Ranking</th>
                <th scope="col" lang="en">Freestyler</th>
                <th scope="col">Punti</th>
            </tr>
            </thead>
            <tbody>
{tableContent}
            </tbody>
        </table>
