RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule "^.*$" "errore500.php"
# ^ da riumuovere quando su server ^

ErrorDocument 403 /errore403.php
ErrorDocument 404 /errore404.php
ErrorDocument 500 /errore500.php