ErrorDocument 400 http://localhost/Fungo/errore500.php
ErrorDocument 401 http://localhost/Fungo/errore500.php
ErrorDocument 403 http://localhost/Fungo/errore500.php
ErrorDocument 404 http://localhost/Fungo/errore500.php
ErrorDocument 500 http://localhost/Fungo/errore500.php