nav {
    position: fixed;
    background-color: #d1c4e9;
    border: 2px solid black;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    padding: 0em 1em;
    width: 100%;
}

nav ul {
    position: relative;
    bottom: 0;
    transform: translateY(50%);
    display: flex;
    justify-content: space-around;
    list-style: none;
}