<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" media="screen and (min-width: 601px)" href="desktop.css">
    <title>Header e menu</title>
</head>


<header>
    <img src="mushroom-svgrepo-com.svg" alt="">
    <h1>Fungo</h1>
    <nav id="menu" opened="false">
        <ul>
            <li><a href="index.html"><span lang="en">Home</span></a></li>
            <li class="selected"><a href="eventi.html">Eventi</a></li>
            <li><a href="classifiche.html">Classifiche</a></li>
            <li><a href="battle.html">Le <span lang="en">Battles</span></a></li>
            <li><a href="chi-siamo.html">Chi Siamo</a></li>
        </ul>
    </nav>
</header>
<p style="font-size: 1.5em; margin: 3em 1em;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, placeat et. Laborum, ipsam. Rem culpa fugiat delectus deleniti explicabo repellendus cupiditate dicta totam similique eos molestiae nulla, libero consequuntur voluptatem accusamus assumenda
    omnis! Iste quia molestias dolorum error, atque nemo dolore nam incidunt ratione aliquam, aspernatur unde saepe architecto mollitia! Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem sed minima odit, est, sint error, fugiat cumque
    nobis hic laudantium corporis sunt iusto temporibus! Asperiores beatae modi, necessitatibus sunt illo mollitia sint quod rerum! Suscipit sapiente quos ad numquam quae quasi quia? Ea accusamus esse delectus dicta quia ad eaque dolor? Distinctio assumenda
    ipsum non, recusandae iste hic aut expedita veniam voluptates enim quia suscipit ratione. Delectus alias beatae debitis asperiores perferendis, dolorem, illo amet quisquam maxime iure nam voluptates labore repellendus magni modi dicta cum fugiat aspernatur
    iusto. Id ut, ipsa eaque nobis accusamus enim perferendis ducimus, mollitia soluta dolorum autem. Nulla in ipsam aliquam veritatis sequi iusto, harum dolorem, sapiente corrupti corporis eaque! Voluptates velit debitis sapiente tenetur rerum quam deserunt
    amet adipisci fugiat optio. Natus, sed quasi odio inventore id magni illo vero rerum, enim autem accusantium deserunt obcaecati quidem a omnis at quod? Rerum et, nostrum ipsam minima veniam possimus quisquam modi vero, dicta dignissimos unde, impedit
    nihil autem quidem? Debitis consectetur consequuntur, modi fuga suscipit laboriosam quibusdam atque quod, aspernatur aliquid quos nostrum aperiam inventore libero ducimus odit facilis quia, tempora soluta ab totam pariatur cupiditate id? Alias ex
    sapiente placeat, vero quos magni odit!</p>
<div id="navbar-mobile">
    <ul id="breadcrumbs">
        <li><a href="index.html"><span lang="en">Home</span></a></li>
        <li><a href="eventi.html">Eventi</a></li>
        <li>Micelio</li>
    </ul>
    <div id="menu-btn" onclick="toggleMenu()">Menu</div>
</div>


<script>
    var navOpened = false;

    function toggleMenu() {
        var nav = document.getElementById("menu");
        navOpened = !navOpened;
        nav.setAttribute("opened", navOpened);
    }
</script>