<div id="amministratori" class="limitedWidth">
            <h3>Gestione Amministratori</h3>
            <form method="post" action="gestione-amministratori.php">
                <button type="submit" name="aggiungi" value="true">Aggiungi nuovo Amministratore</button>
            </form>

            {messaggiForm}<ul>
                {messaggioForm}<li>{messaggio}</li>{/messaggioForm}
            </ul>
            {/messaggiForm}

            <!-- Lista degli amministratori esistenti con possibilità di modificarli o eliminarli. -->
            <ol id="lista-amministratori-gestione">
                {elementoLista}
                <li>
                    <span>{username} - {email}</span>
                    <form method="post" action="gestione-amministratori.php">
                        <input type="hidden" name="username" value="{username}">
                        <input type="hidden" name="email" value="{email}">
                        <button type="submit" name="modifica" value="true">Modifica<span class="screen-reader-only"> l'amministratore {username}</span></button>
                        <button type="submit" name="elimina" value="true">Elimina<span class="screen-reader-only"> l'amministratore {username}</span></button>
                    </form>
                </li>
                {/elementoLista}
            </ol>
        </div>