<div id="amministratori" class="limitedWidth">
            <h3>Gestione Amministratori</h3>
            <form method="post" action="gestione-amministratori.php">
                <button type="submit" name="aggiungi" value="true">Aggiungi nuovo Amministratore</button>
            </form>

            {messaggiForm}<ul>
                {messaggioForm}<li>{messaggio}</li>{/messaggioForm}
            </ul>
            {/messaggiForm}

            <!-- Tabella che elenca gli amministratori esistenti con possibilità di modificarli o eliminarli. -->
            <span id="sumTabella" class="navigationHelp">Tabella che elenca gli amministratori
                esistenti con l'indicazione del nome d'arte del nome utente e dell'indirizzo
                <span lang="en">E-Mail</span>. Per ciascuna riga sono presenti anche dei bottoni 
                che permettono di modificare quell'amministratore o di eliminarlo.</span>
            <table id="tabella-amministratori" aria-describedby="sumTabella">
                <caption>Amministratori presenti</caption>
                <thead>
                    <tr>
                        <th scope="col">Nome utente</th>
                        <th scope="col" lang="en">E-Mail</th>
                        <th scope="col">Azioni</th>
                    </tr>
                </thead>
                <tbody>
                    {rigaTabella}
                    <tr>
                        <td data-title="Nome utente">{username}</td>
                        <td data-title="E-Mail">{email}</td>
                        <td data-title="Azioni">
                            <form method="post" action="gestione-amministratori.php">
                                <input type="hidden" name="username" value="{username}">
                                <input type="hidden" name="email" value="{email}">
                                <button type="submit" name="modifica" value="true">Modifica<span class="screen-reader-only"> l'amministratore {username}</span></button>
                                <button type="submit" name="elimina" value="true">Elimina<span class="screen-reader-only"> l'amministratore {username}</span></button>
                            </form>
                        </td>
                    </tr>
                    {/rigaTabella}
                </tbody>
            </table>
        </div>