<div id="classifiche" class="limitedWidth">
    <h3>Gestione Classifiche</h3>
    <form method="post" action="gestione-classifiche.php">
        <button type="submit" name="aggiungi" value="true">Aggiungi nuova Classifica</button>
    </form>

    {messaggiForm}<ul>
        {messaggioForm}<li>{messaggio}</li>{/messaggioForm}
    </ul>
    {/messaggiForm}

    <!-- Lista delle classifiche esistenti in ordine cronologico con possibilità di modificarle o eliminarle. -->
    <h4>Classifiche presenti</h4>
    <ol id="lista-classifiche">
        {elementoLista}<li>
            <span>{titoloClassifica}</span>
            <form method="post" action="gestione-classifiche.php">
                <input type="hidden" name="idClassifica" value="{idClassifica}">
                <button type="submit" name="modifica_{idClassifica}" value="true">Modifica</button>
                <button type="submit" name="elimina_{idClassifica}" value="true">Elimina</button>
            </form>
        </li>
        {/elementoLista}
    </ol>
</div>