<div id="classifiche">
    <h3>Gestione Classifiche</h3>

    <!-- Form per aggiungere una nuova Classifica -->
    <form action="/aggiungi_classifica" method="post">
        <label for="tipo_evento_classifica">Tipo Evento:</label>
        <select id="tipo_evento_classifica" name="tipo_evento_classifica">
            <option value="tipo_evento_1">Tipo Evento 1</option>
            <option value="tipo_evento_2">Tipo Evento 2</option>
            <!-- Aggiungi altre opzioni per i Tipi Evento qui -->
        </select>
        <label for="data_inizio">Data Inizio:</label>
        <input type="date" id="data_inizio" name="data_inizio">
        <label for="data_fine">Data Fine:</label>
        <input type="date" id="data_fine" name="data_fine">

        <!-- Pulsante per visualizzare gli eventi disponibili -->
        <button type="button" onclick="visualizzaEventi()">Visualizza Eventi Disponibili</button>
        
        <!-- Elenco degli Eventi per associare alla Classifica -->
        <fieldset>
            <legend>Associa Eventi</legend>
            <input type="checkbox" id="evento1" name="evento[]" value="evento1">
            <label for="evento1">Evento 1</label><br>
            <input type="checkbox" id="evento2" name="evento[]" value="evento2">
            <label for="evento2">Evento 2</label><br>
            <!-- Aggiungi altri Eventi qui -->
        </fieldset>
        
        <button type="submit">Aggiungi</button>
        <button type="submit">Modifica</button>
        <button type="submit">Gestisci punteggi</button>
    </form>

    <span id="sumTabella" class="navigationHelp">Tabella che elenca le classifiche esistenti con l'indicazione del tipo evento, 
        la data d'inizio e la data di fine. Per ciascuna riga sono presenti anche dei bottoni 
        che permettono di visualizzare il dettaglio di quella classifica o di eliminarla.</span>
    <table id="tabella-classifiche" aria-describedby="sumTabella">
        <caption>Classifiche presenti</caption>
        <thead>
            <tr>
                <th scope="col">Tipo Evento</th>
                <th scope="col">Data Inizio</th>
                <th scope="col">Data Fine</th>
                <th scope="col">Azioni</th>
            </tr>
        </thead>
        <tbody>
            {rigaClassifica}
            <tr>
                <td data-title="Tipo Evento">{tipoEvento}</td>
                <td data-title="Data Inizio">{dataInizio}</td>
                <td data-title="Data Fine">{dataFine}</td>
                <td data-title="Azioni">
                    <button class="dettaglioClassifica">Modifica</button>
                    <button class="eliminaClassifica">Elimina</button>
                </td>
            </tr>
            {/rigaClassifica}
        </tbody>
    </table>
</div>