<div id="eventi" class="limitedWidth">
    <div id="titolo-button">
        <h3>Gestione Eventi</h3>
        <form method="get" action="gestione-eventi.php">
            <button id="aggiungi" type="submit" name="aggiungi" value="true">Aggiungi nuovo Evento</button>
        </form>
    </div>
    {messaggiForm}
    <div id="messaggi">
        <ul id="messaggi-form">
            {messaggioForm}
            <li class="{tipoMessaggio}">{messaggio}</li>{/messaggioForm}
        </ul>
    </div>
    {/messaggiForm}

    <!-- Lista degli eventi esistenti in ordine cronologico con possibilità di modificarli o eliminarli. -->
    <div class="elementi-presenti">
        <ol id="lista-eventi-gestione">
            {elementoLista}
            <li>
                <span class="label-element"><span class="element-title">{titolo}</span> (<time datetime="{data}">{dataVisualizzata}</time>)</span>
                <form method="get" action="gestione-eventi.php">
                    <input type="hidden" name="idEvento" value="{idEvento}">
                    <button type="submit" name="modifica" value="true">Modifica<span class="screen-reader-only"> l'evento {titolo} del {data}</span></button>
                    <button type="submit" name="punteggi" value="true"><span class="screen-reader-only">Gestisci i </span>Punteggi<span class="screen-reader-only"> dell'evento {titolo} del {data}</span></button>
                    <button type="submit" name="elimina" value="true">Elimina<span class="screen-reader-only"> l'evento {titolo} del {data}</span></button>
                </form>
            </li>
            {/elementoLista}{nessunElemento}
            <li>
                <span class="label-element">Nessun evento presente</span>
            </li>
            {/nessunElemento}
        </ol>
    </div>
</div>