<div id="classifiche" class="limitedWidth">
            <h3>Gestione Classifiche</h3>

            <!-- Form per aggiungere o modificare classifiche -->

            {messaggiForm}<ul>
                {messaggioForm}<li>{messaggio}</li>{/messaggioForm}
            </ul>
            {/messaggiForm}
            
            <form method="post" action="gestione-classifiche.php">
                <fieldset>
                    <legend>{legend}</legend>
                    <label for="tipoEvento">Tipo Evento:</label>
                    <select id="tipoEvento" name="nuovoTipoEvento" required>
                        <option value=""{selezioneDefault} disabled>Scegli il tipo evento</option>
                        {listaTipoEvento}<option value="{tipoEvento}"{selezioneTipoEvento}>{tipoEvento}</option>
                        {/listaTipoEvento}
                    </select>
                    <label for="dataInizio">Data Inizio:</label>
                    <input type="date" id="dataInizio" name="nuovaDataInizio" value="{nuovaDataInizio}" required>
                    <label for="dataFine">Data Fine:</label>
                    <input type="date" id="dataFine" name="nuovaDataFine" value="{nuovaDataFine}" required>
                    <input type="hidden" name="tipoEvento" value="{tipoEvento}">
                    <input type="hidden" name="dataInizio" value="{dataInizio}">
                    <input type="hidden" name="azione" value="{valueAzione}">

                    <!-- Pulsante per visualizzare gli eventi disponibili -->
                    <button type="submit" name="mostraEventi" value="true">Visualizza Eventi Abbinabili</button>
                </fieldset>
            
                <!-- Elenco degli Eventi già associati o associabili alla Classifica -->
                <fieldset>
                    <legend>Associa Eventi</legend>
                    <ul>
                        {listaEventiChecked}<li>
                            <input type="checkbox" id="evento{idEvento}" name="eventi[]" value="{idEvento}" checked>
                            <label for="evento{idEvento}">{titoloEvento} <time datetime="{dataEvento}">{dataVisualizzataEvento}</time></label>
                            <button type="submit" name="punteggi" value="{idEvento}">Modifica Punteggi</button>
                        </li>
                        {/listaEventiChecked}
                        {listaEventiUnchecked}<li>
                            <input type="checkbox" id="evento{idEvento}" name="eventi[]" value="{idEvento}">
                            <label for="evento{idEvento}">{titoloEvento} <time datetime="{dataEvento}">{dataVisualizzataEvento}</time></label>
                        </li>
                        {/listaEventiUnchecked}{nessunEvento}<li>Nessun evento da mostrare</li>{/nessunEvento}
                    </ul>
                </fieldset>
                
                <button type="submit" name="conferma" value="true">Conferma</button>
                <button type="submit" name="indietro" value="true">Torna alle Classifiche</button>
            </form>

            <!-- classifica attuale -->
            {tabellaClassifica}
            <div class="div-classifica">
                <span id="sumTabella" class="navigationHelp">Tabella che riassume la classifica attuale con l'indicazione
                    di <span lang="en">ranking</span>, nome d'arte del <span lang="en">freestyler</span>, punteggio ottenuto.</span>
                <table id="tabella-classifica" aria-describedby="sumTabella">
                    <caption>Classifica attuale</caption>
                    <thead>
                        <tr>
                            <th scope="col" lang="en">Ranking</th>
                            <th scope="col" lang="en">Freestyler</th>
                            <th scope="col">Punti</th>
                        </tr>
                    </thead>
                    <tbody>
                        {rigaClassifica}
                        <tr>
                            <th data-title="ranking" scope="row"><span class="classifica ranking">{ranking}</span></th>
                            <td data-title="Freestyler">{freestyler}</td>
                            <td data-title="Punti">{punti}</td>
                        </tr>
                        {/rigaClassifica}
                    </tbody>
                </table>
            </div>
            {/tabellaClassifica} {nessunaClassifica}
            <p class="limitedWidth">Non è presente nessuna classifica</p>{/nessunaClassifica}