<div id="tipi-evento" class="limitedWidth">
    <form method="post" action="gestione-tipi-evento.php?titolo={titolo}" class="aggiunta-modifica" id="form-tipo-evento">
        <h3 id="titolo">Gestione Tipi Evento</h3>
        {messaggiForm}
        <div id="messaggi">
            <ul id="messaggi-form">
                {messaggioForm}
                <li class="{tipoMessaggio}">{messaggio}</li>{/messaggioForm}
            </ul>
        </div>
        {/messaggiForm}
        <div id="input" class="elementi-presenti aggiunta-modifica">
            <fieldset>
                <legend>{legend}</legend>
                <p>I campi contrassegnati con (*) sono obbligatori.</p>
                <label for="titolo-tipo-evento">Titolo (*):</label>
                <input type="text" id="titolo-tipo-evento" name="nuovoTitolo" value="{nuovoTitolo}" placeholder="Titolo" required aria-required="true">
                <div id="titolo-error"></div>
                <label for="descrizione">Descrizione:</label>
                <textarea id="descrizione" name="nuovaDescrizione" placeholder="Descrizione" rows="8" cols="50">{nuovaDescrizione}</textarea>
                <input type="hidden" name="azione" value="{valueAzione}">
            </fieldset>
        </div>
        <div id="buttons" class="subMenu">
            <button type="button" value="annulla" onClick="tornaIndietro()">Annulla</button>{buttonElimina}
            <button type="submit" name="elimina" value="true">Elimina</button>{/buttonElimina}
            <button type="submit" name="conferma" value="true">Conferma</button>
        </div>
    </form>
</div>