<div id="eventi" class="limitedWidth">
            <h3>Gestione Eventi</h3>

            <!-- Form per aggiungere o modificare eventi -->

            {messaggiForm}<ul>
                {messaggioForm}<li>{messaggio}</li>{/messaggioForm}
            </ul>
            {/messaggiForm}
            
            <form method="post" action="gestione-eventi.php" enctype="multipart/form-data">
                <fieldset>
                    <legend>{legend}</legend>
                    <label for="titolo">Titolo:</label>
                    <input type="text" id="titolo" name="nuovoTitolo" value="{nuovoTitolo}" placeholder="Titolo" required>
                    <label for="data">Data:</label>
                    <input type="date" id="data" name="nuovaData" value="{nuovaData}" required>
                    <label for="ora">Ora:</label>
                    <input type="time" id="ora" name="nuovaOra" value="{nuovaOra}" required>
                    <label for="luogo">Luogo:</label>
                    <input type="text" id="luogo" name="nuovoLuogo" value="{nuovoLuogo}" placeholder="Luogo" required>
                    <label for="descrizione">Descrizione</label>
                    <textarea id="descrizione" name="nuovaDescrizione" placeholder="Descrizione" rows="8" cols="50">{nuovaDescrizione}</textarea>
                    <label for="locandina">Locandina:</label>
                    <input type="file" id="locandina" name="nuovaLocandina" accept="image/*">
                    {imgLocandina}<img src="{locandina}" alt="Locandina">{/imgLocandina}
                    <input type="hidden" name="locandina" value="{locandina}">
                    <input type="hidden" name="idEvento" value="{idEvento}">
                    <input type="hidden" name="azione" value="{valueAzione}">
                
                    <button type="submit" name="conferma" value="true">Conferma</button>{eliminaLocandina}
                    <button type="submit" name="eliminaLocandina" value="true">Elimina Locandina</button>{/eliminaLocandina}
                    <button type="submit" name="elimina" value="true">Elimina Evento</button>
                    <button type="submit" name="indietro" value="true">Torna agli Eventi</button>
                </fieldset>
            </form>
        </div>