<div id="rappers" class="limitedWidth">
    <h3>Gestione Rappers</h3>

    <!-- Form per aggiungere o modificare rapper -->

    {messaggiForm}<ul>
        {messaggioForm}<li>{messaggio}</li>{/messaggioForm}
    </ul>
    {/messaggiForm}
    
    <form method="post" action="gestione-rappers.php">
        <fieldset>
            <legend>{legend}</legend>
            <label for="username" lang="en">Username:</label>
            <input type="text" id="username" name="nuovoUsername" value="{nuovoUsername}" placeholder="Username" required>
            <label for="email" lang="en">E-Mail:</label>
            <input type="text" id="email" name="nuovaEmail" value="{nuovaEmail}" placeholder="E-Mail" required>
            <input type="hidden" name="username" value="{username}">
            <input type="hidden" name="email" value="{email}">
            <input type="hidden" name="azione" value="{valueAzione}">
            <input type="hidden" name="errore" value="{valueErrore}">
        
        <button type="submit" name="conferma" value="true">Conferma</button>
    </form>
</div>