<div id="amministratori" class="limitedWidth">
            <h3>Gestione Amministratori</h3>

            <!-- Form per aggiungere o modificare amministratori -->

            {messaggiForm}<ul>
                {messaggioForm}<li>{messaggio}</li>{/messaggioForm}
            </ul>
            {/messaggiForm}
            
            <form method="post" action="gestione-amministratori.php">
                <fieldset>
                    <legend>{legend}</legend>
                    <label for="username" lang="en">Username:</label>
                    <input type="text" id="username" name="nuovoUsername" value="{nuovoUsername}" placeholder="Username" required>
                    <label for="email" lang="en">E-Mail:</label>
                    <input type="email" id="email" name="nuovaEmail" value="{nuovaEmail}" placeholder="E-Mail" required>
                    <input type="hidden" name="username" value="{username}">
                    <input type="hidden" name="email" value="{email}">
                    <input type="hidden" name="azione" value="{valueAzione}">
                
                    <button type="submit" name="conferma" value="true">Conferma</button>
                </fieldset>
            </form>
        </div>