<div id="eventi" class="limitedWidth">
    <form method="post" action="gestione-eventi.php?idEvento={idEvento}&provenienza={provenienza}" enctype="multipart/form-data" class="aggiunta-modifica" id="form-evento">
        <h3 id="titolo">Gestione Eventi</h3>
        {messaggiForm}
        <div id="messaggi">
            <ul id="messaggi-form">
                {messaggioForm}
                <li class="{tipoMessaggio}">{messaggio}</li>{/messaggioForm}
            </ul>
        </div>
        {/messaggiForm}
        <div id="input" class="elementi-presenti aggiunta-modifica">
            <fieldset>
                <legend>{legend}</legend>
                <p>I campi contrassegnati con (*) sono obbligatori.</p>
                <label for="titolo-evento">Titolo (*):</label>
                <input type="text" id="titolo-evento" name="nuovoTitolo" value="{nuovoTitolo}" placeholder="Titolo" required aria-required="true">
                <div id="titolo-error" class="error"></div>
                <label for="tipoEvento">Tipo Evento (*):</label>
                <select id="tipoEvento" name="nuovoTipoEvento" required aria-required="true">
                    <option value=""{selezioneDefault} disabled>Scegli il tipo evento</option>
                    <option value=""{nessunaSelezione}>Nessun tipo evento</option>
                    {listaTipoEvento}<option value="{tipoEvento}"{selezioneTipoEvento}>{tipoEvento}</option>
                    {/listaTipoEvento}
                </select>
                <label for="data">Data (*):</label>
                <input type="date" id="data" name="nuovaData" value="{nuovaData}" required aria-required="true">
                <div id="data-error" class="error"></div>
                <label for="ora">Ora (*):</label>
                <input type="time" id="ora" name="nuovaOra" value="{nuovaOra}" required aria-required="true">
                <div id="ora-error" class="error"></div>
                <label for="luogo">Luogo (*):</label>
                <input type="text" id="luogo" name="nuovoLuogo" value="{nuovoLuogo}" placeholder="Luogo" required aria-required="true">
                <div id="luogo-error" class="error"></div>
                <label for="descrizione">Descrizione:</label>
                <textarea id="descrizione" name="nuovaDescrizione" placeholder="Descrizione" rows="8" cols="50">{nuovaDescrizione}</textarea>
                <label for="locandina">Locandina:</label>
                <input type="file" id="locandina" name="nuovaLocandina" accept="image/*">
                <div id="locandina-error" class="error"></div>
                {eliminaLocandina}
                <label for="eliminaLocandina">
                    <input type="checkbox" id="eliminaLocandina" name="eliminaLocandina">
                    Elimina la locandina
                </label>
                {/eliminaLocandina}
                {imgLocandina}<img src="{locandina}" alt="Locandina">{/imgLocandina}
                <input type="hidden" name="azione" value="{valueAzione}">
            </fieldset>
        </div>
        <div id="buttons" class="subMenu">
            <button type="submit" name="conferma" value="true">Conferma</button> {buttonElimina}
            <button type="submit" name="elimina" value="true">Elimina</button> {/buttonElimina}
            <button type="button" value="annulla" onClick="tornaIndietro()">Annulla</button>
        </div>
    </form>
</div>