<div id="amministratori" class="limitedWidth">
    <form method="post" action="gestione-amministratori.php">
        <div id="titolo-button">
            <h3>Gestione Amministratori</h3>
            <div id="titolo-buttons">
                <button type="submit" name="conferma" value="true">Conferma</button>
                {buttonElimina}<button type="submit" name="elimina" value="true">Elimina</button>
                {/buttonElimina}
                <button type="button" value="annulla" onClick="tornaIndietro()">Annulla</button>
            </div>
        </div>
        {messaggiForm}
        <div id="messaggi">
            <ul id="messaggi-form">
                {messaggioForm}
                <li>{messaggio}</li>{/messaggioForm}
            </ul>
        </div>
        {/messaggiForm}
        <div class="elementi-presenti aggiunta-modifica">
            <fieldset>
                <legend>{legend}</legend>
                <label for="username" lang="en">Username:</label>
                <input type="text" id="username" name="nuovoUsername" value="{nuovoUsername}" placeholder="Username" required>
                <label for="email" lang="en">E-Mail:</label>
                <input type="email" id="email" name="nuovaEmail" value="{nuovaEmail}" placeholder="E-Mail" required>
                <input type="hidden" name="username" value="{username}">
                <input type="hidden" name="email" value="{email}">
                <input type="hidden" name="azione" value="{valueAzione}">
            
            </fieldset>
        </div>
    </form>
</div>