<div id="profilo" class="limitedWidth">
            <h3>Modifica Profilo</h3>

            {messaggiForm}<ul>
                {messaggioForm}<li>{messaggio}</li>{/messaggioForm}
            </ul>
            {/messaggiForm}

            <form method="post" action="gestione-profilo.php" enctype="multipart/form-data">
                <fieldset>
                    <legend>Modifica il profilo utente: {username}</legend>
                    <p>I campi contrassegnati con (*) sono obbligatori.</p>
                    <label for="email">Email (*):</label>
                    <input type="email" id="email" name="email" value="{email}" required>
                    <label for="password">Nuova Password:</label>
                    <input type="password" id="password" name="password" placeholder="password">
                    <label for="confermaPassword">Conferma Nuova Password:</label>
                    <input type="password" id="confermaPassword" name="confermaPassword" placeholder="conferma password">
                    <label for="immagineProfilo">Immagine Profilo:</label>
                    <input type="file" id="immagineProfilo" name="immagineProfilo" accept="image/*">
                    <input type="checkbox" id="eliminaImmagineProfilo" name="eliminaImmagineProfilo">
                    <label for="eliminaImmagineProfilo">Elimina immagine del profilo</label>
                    <button type="submit" name="conferma" value="true">Salva Modifiche</button>
                    <button type="button" value="annulla" onClick="tornaIndietro()">Annulla</button>
                </fieldset>
            </form>
        </div>