<div id="tipi-evento" class="limitedWidth">
            <h3>Gestione Tipi Evento</h3>

            <!-- Form per aggiungere o modificare tipi evento -->

            {messaggiForm}<ul>
                {messaggioForm}<li>{messaggio}</li>{/messaggioForm}
            </ul>
            {/messaggiForm}
            
            <form method="post" action="gestione-tipi-evento.php" id="tipi-evento-form">
                <fieldset>
                    <legend>{legend}</legend>
                    <p>I campi contrassegnati con (*) sono obbligatori.</p>
                    <label for="titolo">Titolo (*):</label>
                    <input type="text" id="titolo" name="nuovoTitolo" value="{nuovoTitolo}" placeholder="Titolo" required>
                    <div id="titolo-error" class="error"></div>
                    <label for="descrizione">Descrizione</label>
                    <textarea id="descrizione" name="nuovaDescrizione" placeholder="Descrizione" rows="8" cols="50">{nuovaDescrizione}</textarea>
                    <input type="hidden" name="titolo" value="{titolo}">
                    <input type="hidden" name="azione" value="{valueAzione}">
                
                    <button type="submit" name="conferma" value="true">Conferma</button>
                    {buttonElimina}<button type="submit" name="elimina" value="true">Elimina Tipo Evento</button>
                    {/buttonElimina}
                    <button type="button" value="annulla" onClick="tornaIndietro()">Annulla</button>
                </fieldset>
            </form>
        </div>