<div id="classifiche" class="limitedWidth">
    <form method="post" action="gestione-classifiche.php" class="aggiunta-modifica" id="form-classifica">
        <h3 id="titolo">Gestione Classifiche</h3>
        {messaggiForm}
        <div id="messaggi">
            <ul id="messaggi-form">
                {messaggioForm}
                <li class="{tipoMessaggio}">{messaggio}</li>{/messaggioForm}
            </ul>
        </div>
        {/messaggiForm}
        <div id="input" class="elementi-presenti aggiunta-modifica">
            <fieldset>
                <legend>{legend}</legend>
                <p>I campi contrassegnati con (*) sono obbligatori.</p>
                <label for="titoloClassifica">Titolo Classifica (*):</label>
                <input type="text" id="titoloClassifica" name="nuovoTitoloClassifica" value="{nuovoTitoloClassifica}" required aria-required="true">
                <div id="titolo-error" class="error"></div>
                <label for="tipoEvento">Tipo Evento (*):</label>
                <select id="tipoEvento" name="nuovoTipoEvento" required aria-required="true">
                            <option value=""{selezioneDefault} disabled>Scegli il tipo evento</option>
                            {listaTipoEvento}<option value="{tipoEvento}"{selezioneTipoEvento}>{tipoEvento}</option>
                            {/listaTipoEvento}
                        </select>
                <label for="dataInizio">Data Inizio (*):</label>
                <input type="date" id="dataInizio" name="nuovaDataInizio" value="{nuovaDataInizio}" required aria-required="true">
                <label for="dataFine">Data Fine (*):</label>
                <input type="date" id="dataFine" name="nuovaDataFine" value="{nuovaDataFine}" required aria-required="true">
                <input type="hidden" name="idClassifica" value="{idClassifica}" id="element-to-edit">
                <input type="hidden" name="azione" value="{valueAzione}">
            </fieldset>
        </div>
        <div id="buttons" class="subMenu">
            <button type="submit" name="conferma" value="true">Conferma</button> {buttonElimina}
            <button type="submit" name="elimina" value="true">Elimina</button> {/buttonElimina}
            <button type="button" value="annulla" onClick="tornaIndietro()">Annulla</button>
        </div>
    </form>{listaEventi}

    <!-- Elenco degli Eventi appartenenti alla Classifica -->
    <div class="elementi-presenti aggiunta-modifica">
        <h4>Eventi appartenenti alla Classifica</h4>
        <ol id="lista-eventi-gestione-classifiche">
            {elementoLista}
            <li>
                <span class="label-element"><span class="element-title">{titoloEvento}</span> (<time datetime="{dataEvento}">{dataVisualizzataEvento}</time>)</span>
                <form method="post" action="gestione-eventi.php">
                    <input type="hidden" name="idEvento" value="{idEvento}">
                    <button type="submit" name="punteggi" value="true">Punteggi</button>
                </form>
            </li>
            {/elementoLista}
        </ol>
    </div>{/listaEventi}{tabellaClassifica}

    <!-- classifica attuale -->
    <div class="elementi-presenti aggiunta-modifica">

        <div class="div-classifica">
            <span id="sumTabella" class="navigationHelp">Tabella che riassume la classifica attuale con l'indicazione
                        di <span lang="en">ranking</span>, nome d'arte del <span lang="en">freestyler</span>, punteggio ottenuto.</span>
            <table id="tabella-classifica" aria-describedby="sumTabella">
                <caption>Classifica attuale</caption>
                <thead>
                    <tr>
                        <th scope="col" lang="en">Ranking</th>
                        <th scope="col" lang="en">Freestyler</th>
                        <th scope="col">Punti</th>
                    </tr>
                </thead>
                <tbody>
                    {rigaClassifica}
                    <tr>
                        <th data-title="ranking" scope="row"><span class="classifica ranking">{ranking}</span></th>
                        <td data-title="Freestyler">{freestyler}</td>
                        <td data-title="Punti">{punti}</td>
                    </tr>
                    {/rigaClassifica}
                </tbody>
            </table>
        </div>

    </div>{/tabellaClassifica}
</div>