<div id="tipi-evento" class="limitedWidth">
    <form method="post" action="gestione-tipi-evento.php">
        <div id="titolo-button">
            <h3>Gestione Tipi Evento</h3>
            <div id="titolo-buttons">
                <button type="submit" name="conferma" value="true">Conferma</button>
                {buttonElimina}<button type="submit" name="elimina" value="true">Elimina</button>
                {/buttonElimina}
                <button type="button" value="annulla" onClick="tornaIndietro()">Annulla</button>
            </div>
        </div>
        <div id="messaggi">
            {messaggiForm}
            <ul id="messaggi-form">
                {messaggioForm}
                <li>{messaggio}</li>{/messaggioForm}
            </ul>
            {/messaggiForm}
        </div>
        <div class="elementi-presenti aggiunta-modifica">
            <fieldset>
                <legend>{legend}</legend>
                <label for="titolo">Titolo:</label>
                <input type="text" id="titolo" name="nuovoTitolo" value="{nuovoTitolo}" placeholder="Titolo" required>
                <label for="descrizione">Descrizione:</label>
                <textarea id="descrizione" name="nuovaDescrizione" placeholder="Descrizione" rows="8" cols="50">{nuovaDescrizione}</textarea>
                <input type="hidden" name="titolo" value="{titolo}">
                <input type="hidden" name="azione" value="{valueAzione}">
            </fieldset>
        </div>
    </form>
</div>