<div id="profilo" class="limitedWidth">
            <h3>Profilo personale</h3>

            {messaggi}
            <ul>
                {messaggio}
                <li>{testo}</li>{/messaggio}
            </ul>
            {/messaggi}
            
            <img src="../assets/media/img_profilo/{immagineProfilo}" alt="Immagine Profilo">
            <dl id="datiUtente">
                <dt>Username:</dt>
                <dd>{username}</dd>
                <dt>E-Mail:</dt>
                <dd>{email}</dd>
            </dl>
            <a href="gestione-profilo.php">Modifica Profilo</a>
        </div>