<div id="profilo" class="limitedWidth">
    <div id="titolo-button">
        <h3>Profilo personale</h3>
        <form method="post" action="gestione-profilo.php">
            <button id="aggiungi" type="submit" name="aggiungi" value="true">Modifica Profilo</button>
        </form>
    </div>
    <div id="messaggi">
        {messaggi}
        <ul>
            {messaggio}
            <li>{testo}</li>{/messaggio}
        </ul>
        {/messaggi}
    </div>
    
    <!-- Dati dell'utente loggato. -->
    <div id="datiUtente" class="elementi-presenti">
        <img src="../assets/media/img_profilo/{immagineProfilo}" alt="Immagine Profilo">
        <dl id="datiUtente">
            <dt>Username:</dt>
            <dd>{username}</dd>
            <dt>E-Mail:</dt>
            <dd>{email}</dd>
        </dl>
    </div>
</div>