<div id="rappers" class="limitedWidth">
    <div id="titolo-button">
        <h3>Gestione Rappers</h3>
        <form method="get" action="gestione-rappers.php" class="subMenu">
            <button id="aggiungi" type="submit" name="aggiungi" value="true">Aggiungi nuovo Rapper</button>
        </form>
    </div>
    {messaggiForm}
    <div id="messaggi">
        <ul id="messaggi-form">
            {messaggioForm}
            <li class="{tipoMessaggio}">{messaggio}</li>{/messaggioForm}
        </ul>
    </div>
    {/messaggiForm}

    <!-- Lista dei rappers esistenti con possibilità di modificarli o eliminarli. -->
    <div class="elementi-presenti">
        <ol id="lista-rappers-gestione">
            {elementoLista}
            <li>
                <span class="label-element"><span class="element-title">{username}</span> ({email})</span>
                <form method="get" action="gestione-rappers.php">
                    <input type="hidden" name="username" value="{username}">
                    <button type="submit" name="modifica" value="true">Modifica<span class="screen-reader-only"> il <span lang="en">rapper</span> {username}</span></button>
                    <button type="submit" name="elimina" value="true">Elimina<span class="screen-reader-only"> il <span lang="en">rapper</span> {username}</span></button>
                </form>
            </li>
            {/elementoLista}{nessunElemento}
            <li>
                <span class="label-element">Nessun rapper presente</span>
            </li>
            {/nessunElemento}
        </ol>
    </div>
</div>