<div id="tipi_evento" class="limitedWidth">
    <div id="titolo-button">
        <h3>Gestione Tipi Evento</h3>
        <form method="post" action="gestione-tipi-evento.php" class="subMenu">
            <button id="aggiungi" type="submit" name="aggiungi" value="true">Aggiungi nuovo Tipo Evento</button>
        </form>
    </div>
    {messaggiForm}
    <div id="messaggi">
        <ul id="messaggi-form">
            {messaggioForm}
            <li class="{tipoMessaggio}">{messaggio}</li>{/messaggioForm}
        </ul>
    </div>
    {/messaggiForm}

    <!-- Lista dei tipi evento esistenti in ordine alfabetico con possibilità di modificarli o eliminarli. -->
    <div class="elementi-presenti">
        <ol id="lista-tipi-evento">
            {elementoLista}
            <li>
                <span class="label-element"><span class="element-title">{titolo}</span></span>
                <form method="post" action="gestione-tipi-evento.php">
                    <input type="hidden" name="titolo" value="{titolo}">
                    <button type="submit" name="modifica" value="true">Modifica<span class="screen-reader-only"> il tipo evento {titolo}</span></button>
                    <button type="submit" name="elimina" value="true">Elimina<span class="screen-reader-only"> il tipo evento {titolo}</span></button>
                </form>
            </li>
            {/elementoLista}
        </ol>
    </div>
</div>