#evento #content {
    padding-bottom: unset;
    display: grid;
    grid-template-areas: 'titolo titolo' 'img dl';
    grid-template-columns: 40% 60%;
    grid-template-rows: min-content;
    align-items: start;
}

#evento #indietro {
    display: none;
}

#evento #titolo {
    grid-area: titolo;
    padding-block: 0.35em;
    margin: unset;
    box-sizing: border-box;
    border-bottom: 1px solid;
}

#evento #titolo h2 {
    margin: unset;
    padding: 0.15em;
    font-family: 'Horizontale';
    text-align: center;
}

#evento #img-container {
    grid-area: img;
    padding: 1.5em;
    box-sizing: border-box;
    text-align: center;
    height: 100%;
    position: relative;
}

#evento #scritte-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#evento #scritte {
    height: 100%;
    pointer-events: none;
    user-select: none;
    word-wrap: break-word;
    transform: rotate(336deg) scale(1.5);
    font-size: 3vw;
    font-family: 'HORIZONTALE';
    text-align: center;
    opacity: 0.3;
}

#evento #img-container img {
    max-width: 100%;
    max-height: 88vh;
    object-fit: contain;
}

#evento-info {
    grid-area: dl;
    padding: 1.5em;
}

#evento-info dt {
    font-weight: bold;
    font-size: 1.75em;
}

#evento-info dd {
    font-size: 1.2em;
    margin-bottom: 1em;
}

#evento-info dd#descrizione {
    white-space: pre-wrap;
}