/* TUTTE LE PAGINE (COMUNE) */

/*****************
/* PAGINA BATTLE */
/*****************/

/* div modalità freestyle */
#modalita_freestyle{
    text-align: center;
    background-color: #7e7c7c;

}
/* Lista delle battle */
#lista_battle{
    display: grid;
    grid-template-columns: repeat(auto-fill, 25em); /* Crea una griglia con colonne di almeno/massimo 300px */
    gap: 4em; /* Imposta la distanza tra le battle */
    justify-content: space-evenly;
    
}

.battle {
    margin: auto;
    background-color: #feacac;
    border-radius: 1em;
    border-style: solid;
    padding: 0em 1em;
    list-style: none;
    
}
.battle h3{
    border-style: solid;
    border-bottom: 0;
    padding: 1em;

}
.battle iframe{
    border-radius: 3em;

}
.battle dd:last-child{
    border-style: solid dashed;
    border-radius: 0px 0px 10px 10px;
    border-top: 0;
    padding: 1em;
}
.battle dd {
    margin-left: 0;
}
