/* TUTTE LE PAGINE (COMUNE) */

/*****************
/* PAGINA BATTLE */
/*****************/

/* div modalità freestyle */
#modalita_freestyle{
    text-align: center;
    background-color: #d6d6d6;
    /*Il colore di modalita_freestyle si sovrappone a .battle e rende il colore di .battle più scuro */

}
/* Lista degli battle */
#lista_battle{
    display: grid;
    grid-template-columns: repeat(auto-fill, 420px); /* Crea una griglia con colonne di almeno/massimo 300px */
    gap:40px; /* Imposta la distanza tra gli eventi */
    justify-content: space-evenly;
    margin: auto;
}
/*
Che palle, c'è meno spazio occupato a dx
*/
.battle {
    background-color: #f701014b;
    opacity: 100%;
    border-radius: 20px;
    border-style: solid;
    margin: auto;
    padding: 0px 10px;
}
.battle h3{
    text-align: center;
    border-style: solid;
    
    /*oppure border-radius: 10px;*/
    border-bottom: 0;
    padding: 5px;

}
.battle iframe{
    border-radius: 50px;
    
    
}
.battle p{
    border-style: solid dashed;
    border-radius: 20px;
    
    /*oppure border-radius: 0px 0px 10px 10px;*/
    border-top: 0;
    padding: 5px;
}
