/* TUTTE LE PAGINE (COMUNE) */



/*****************
/* PAGINA EVENTI */
/*****************/

/* Form di ricerca */
.form-container {
    margin-bottom: 40px;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

label {
    margin-bottom: 0;
    margin-right: 10px;
}

input,
select {
    width: auto;
    margin-bottom: 0;
}

input[type="submit"] {
    width: auto;
    padding: 10px 20px;
}

/* Lista degli eventi */
h2{
    text-align: center;
}
#lista_battle{
    display: grid;
    grid-template-columns: repeat(auto-fill, 420px); /* Crea una griglia con colonne di almeno/massimo 300px */
    gap:60px; /* Imposta la distanza tra gli eventi */
    max-width: 1600px;
    justify-content: space-evenly;
    align-content: center;
    margin: auto;
}

/*
Che palle, c'è meno spazio occupato a dx
*/
.battle {
  
    background-color: #f701014b;
    border-radius: 8px;
    border-style: solid;
    padding: 5px;
    margin: auto;
}
.battle h3{
    text-align: center;
}