/*
 * HOME
 */

#breadcrumbs-container {
    position: fixed;
    left: 50%;
    top: unset;
    right: unset;
}

#index {
    padding-top: unset;
}

.titoloHome video {
    position: unset;
    aspect-ratio: unset;
    border-left: unset;
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.titolo {
    position: absolute;
    top: 50%;
    right: 0;
    padding: 1.5em 2em;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 2px solid var(--accentColor);
    background-color: var(--secondaryColor);
}

h1 {
    font-family: "Hokia";
    font-size: 2em;
}