#index #breadcrumbs-container {
    position: absolute;
    text-indent: -999em;
    background-color: var(--colorSecondary);
    margin-block: unset;
}

#index #breadcrumbs-container span {
    background-color: var(--colorSecondary);
}

#index {
    padding-top: unset;
}

#index header h1.logo {
    transition: opacity 0.1s;
}

#index header h1.logo {
    overflow: hidden;
    text-indent: 120%;
    white-space: nowrap;
    /* opacity: 0.1; */
}

#index header h1.logo.scrolled {
    overflow: unset;
    text-indent: unset;
    opacity: 1;
}

#index #hero {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 2px solid var(--colorAccent);
}

#index #hero #titolo {
    width: 100%;
    resize: horizontal;
    /* container-type: inline-size; */
}

#index #hero h2 {
    margin-block: unset;
    margin-top: 2rem;
    padding: 0.1em;
    width: 100%;
    box-sizing: border-box;
    cursor: default;
    text-shadow: unset;
    font-family: "Horizontale";
    /* font-size: 16cqw; */
    font-size: 11vw;
    background-color: var(--colorAccent);
}

@media screen and (max-width: 1250px) {
    #index #hero h2 {
        font-size: 10vw;
    }
}

@media screen and (max-width: 1050px) {
    #index #hero h2 {
        font-size: 9vw;
    }
}

#index #hero h3 {
    padding: 1em;
    background: var(--colorSecondary);
    font-size: 1.5em;
}

#index #hero #titolo {
    display: flex;
    flex-direction: column;
}

#index #hero #titolo p {
    padding: 1em;
    padding-top: 0;
    background: var(--colorSecondary);
    border-bottom: 2px solid var(--colorAccent);
    line-height: 1.5em;
}

#evento-home {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
    position: relative;
    padding-left: 2%;
}

#evento-home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 2%;
    box-sizing: border-box;
    background: repeating-linear-gradient(45deg, var(--colorAccent), var(--colorAccent) 2px, rgba(255, 255, 255, 0) 2px, rgba(255, 255, 255, 0) 10px);
}

#index #hero #evento-home h3 {
    padding: 0.5em;
    font-size: 1.5em;
    background-color: unset;
    z-index: var(--elevationHigh);
}

#evento-home>div {
    width: fit-content;
    height: fit-content;
    border: 1px solid;
    margin: 0.5em;
    grid-column: 1;
    margin-top: unset;
    border-radius: 4px;
    padding-bottom: 0.5em;
    overflow: hidden;
    font-size: 1.1em;
    z-index: var(--elevationMiddle);
}

#evento-home>div>a {
    display: block;
    width: 100%;
    padding-inline: 1em;
    box-sizing: border-box;
}

#index #hero #evento-home h4 {
    background-color: var(--colorSecondary);
    padding: 0.2em 1em;
    box-sizing: border-box;
    border: 1px solid;
    font-size: 1.25em;
    text-align: center;
}

#evento-home dl {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0 1em;
    padding: 0.2em 0.5em;
    box-sizing: border-box;
    color: var(--colorText);
}

#evento-home dl dt {
    font-weight: bold;
}

#evento-home>a {
    width: 100%;
    text-align: right;
    padding-right: 1em;
    padding-bottom: 1em;
    align-self: end;
    box-sizing: border-box;
}

#video-home {
    position: sticky;
    top: 0;
    height: 100vh;
    border-left: 2px solid var(--colorAccent);
    border-bottom: 2px solid var(--colorAccent);
}

#video-home video {
    width: fit-content;
    max-width: 40vw;
    height: 100%;
    object-fit: cover;
}

#video-home video p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#video-home #audio-descrizione {
    position: absolute;
    left: 0;
    bottom: 0;
    pointer-events: none;
    background: var(--colorSecondary);
}

#hero-image {
    height: 100vh;
    width: 48em;
    max-width: 40vw;
    border-left: 2px solid var(--colorAccent);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../assets/media/poster.jpg');
}

#eventi-home h3 {
    width: 100%;
    padding: 1em 3em;
    font-size: 1.25em;
    box-sizing: border-box;
    font-family: Horizontale;
    color: var(--colorTextOnAccent);
    background-color: var(--colorAccent);
}

#eventi-home dl {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

#eventi-home dl .eventoPrincipaleHome:nth-child(even) {
    flex-direction: row-reverse
}

#eventi-home .eventoPrincipaleHome {
    display: flex;
    box-sizing: border-box;
}

#eventi-home dl dt {
    font-weight: bold;
    font-size: 1.25em;
    writing-mode: vertical-lr;
    color: var(--colorTextOnAccent);
    background-color: var(--colorAccent);
    padding: 2em 1em;
    border: 2px solid var(--colorSecondary);
}

.ddImg {
    border: 2px solid var(--colorAccent);
}

.ddImg img {
    height: 45vh;
    width: 40vw;
    padding: 1.5em;
    box-sizing: border-box;
    object-fit: cover;
    border-bottom: 1px solid var(--colorAccent);
}

.ddImg figcaption {
    padding-left: 1em;
    box-sizing: border-box;
}

.ddDesc {
    padding: 1em 3em;
    box-sizing: border-box;
    background-color: var(--colorSecondary);
    border: 1px solid var(--colorAccent);
    line-height: 2em;
}

#index section.normal {
    margin-block: 2em;
}