/*
 * COMUNE
 */

:root {
    --widthMenu: 90%;
    --minWidthMenu: 50%;
    --marginBottomMenu: 2em;
    --bordarRadiusCard: 5px;
    --colorCardBackground: var(--colorSecondary);
    --colorCardBorder: var(--colorAccent);
    --minHeightButton: 44px;
}

body {
    padding-top: 3.5em;
}

.limitedWidth {
    max-width: var(--widthMenu);
    padding: unset;
    box-sizing: unset;
}

.logo {
    font-size: 2.2rem;
    letter-spacing: 0.15em;
}

.mobileCard {
    border-radius: var(--bordarRadiusCard);
    background-color: var(--colorCardBackground);
    border: solid 2px var(--colorCardBorder);
}

.subMenu {
    position: fixed;
    width: var(--widthMenu) !important;
    min-height: 44px;
    box-sizing: border-box;
    bottom: calc(var(--marginBottomMenu) + 44px + 2px);
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    z-index: var(--elevationHigh);
    background: var(--colorSecondary);
    border-top-left-radius: var(--bordarRadiusCard);
    border-top-right-radius: var(--bordarRadiusCard);
    border: solid 2px var(--colorCardBorder);
    background-color: var(--colorCardBackground);
}


/* 
 * ERROR
 */


/* 
 * SUCESS
 */


/* 
 * FORM
 */

fieldset>* {
    margin: 0.5em 0;
}


/* 
 * BUTTON
 */

button,
.button {
    min-height: var(--minHeightButton);
    padding: 0.5em 1.5em;
}


/*
 * INPUT
 */

input,
select,
textarea {
    width: 100%;
    min-height: var(--minHeightButton);
    padding: 0.5em 1.5em;
    border-radius: 3px;
}


/* 
 * HEADER
 */

header {
    height: 1.75em;
    justify-content: center;
}

header h1.logo {
    margin: 0;
}

header .logo {
    font-size: 2.2rem;
}


/* 
 * MENU
 */

#menu {
    display: block;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(var(--marginBottomMenu) + var(--minHeightButton));
    box-sizing: border-box;
    width: var(--widthMenu);
    padding-bottom: 1em;
    z-index: var(--elevationAbove);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#menu[data-menu-open="false"] {
    transform: translate(-50%, 200%);
    opacity: 0.8;
    transition: transform 0.3s, opacity 0.3s;
}

#menu[data-menu-open="true"] {
    transform: translateX(-50%);
    opacity: 1;
    transition: transform 0.4s, opacity 0.2s;
}

#menu h2 {
    position: static;
    width: 100%;
    padding: 0 1em;
    margin-bottom: 0.75em;
    box-sizing: border-box;
    border-top-left-radius: var(--bordarRadiusCard);
    border-top-right-radius: var(--bordarRadiusCard);
    border-bottom: 2px solid var(--colorAccent);
    text-align: left;
    text-indent: unset;
    line-height: 2em;
    font-size: 1.2em;
    font-weight: normal;
}

#menu ul li {
    display: block;
    margin-inline: 0;
}

.menuItem {
    display: block;
    padding: unset;
    border: unset;
    font-size: 1.5em;
    font-weight: bold;
    background-color: var(--colorSecondary);
}

#menu .menuItem {
    margin: 0.1em 0.75em;
    line-height: 2em;
}

#menu #currentLink {
    color: var(--colorSecondary);
    background-color: var(--colorAccent);
}


/* 
 * BREADCRUMBS
 */

#breadcrumbs-container {
    position: fixed;
    bottom: var(--marginBottomMenu);
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    width: unset;
    min-width: var(--minWidthMenu);
    max-width: var(--widthMenu);
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    z-index: var(--elevationAbove);
}

#breadcrumbs-container {
    transition: 0.5s;
}

.fullMenu #breadcrumbs-container {
    min-width: var(--widthMenu);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

#breadcrumbs-container[data-menu-open=true] {
    min-width: var(--widthMenu);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

#breadcrumbs {
    margin: 0.5em;
    overflow: scroll;
    white-space: nowrap;
}

#breadcrumbs p {
    font-size: 1.2em;
}

#breadcrumbs p #ti-trovi-in {
    position: absolute;
    text-indent: -999em;
    background-color: var(--colorSecondary);
}

#btn-menu {
    display: block;
    height: var(--minHeightButton);
    aspect-ratio: 1/1;
    padding: 0;
    border-radius: 0;
    border: unset;
    background-color: var(--colorAccent);
    transition: 0.5s;
    background-image: url("../assets/icons/burger_menu.svg");
    background-size: 100%;
    background-repeat: no-repeat;
}

#btn-menu:active {
    transform: scale(1.1);
    transition: 0.1s;
}

#breadcrumbs-container[data-menu-open=true] #btn-menu {
    background-image: url("../assets/icons/close.svg");
}


/* 
 * FOOTER
 */

footer {
    width: 100%;
    box-sizing: border-box;
    padding: unset;
    padding-bottom: calc(var(--marginBottomMenu) + var(--minHeightButton) + 2em);
}

footer #footer-content {
    grid-template-columns: 1fr;
    gap: 2em;
}

footer .logo {
    position: static;
}


/* 
 * AREA DI AMMINISTRAZIONE 
 */

.adminPage {
    padding-top: 3.5em;
}

.adminPage table th,
.adminPage table td {
    padding: 0.1em;
}

.adminPage table th,
.adminPage table td {
    padding: 0.1em;
}

.adminPage header {
    height: 3em;
}

.adminPage div#titolo-button {
    flex-direction: column;
    position: unset;
}

.adminPage div#titolo-button .subMenu button {
    width: 100%;
    padding: unset;
}

.adminPage.fullMenu footer {
    padding-bottom: 10em;
}

.adminPage ol {
    padding: 0.5em;
}

.adminPage ol li {
    padding: 0.5em;
    flex-direction: column;
}

.adminPage ol li span {
    padding: 0.5em;
}

.adminPage div#datiUtente {
    flex-direction: column-reverse;
}

.adminPage div#datiUtente img {
    width: 100%;
    position: relative;
    top: unset;
}

.adminPage div#datiUtente dl {
    width: 100%;
    position: relative;
    top: unset;
    gap: 0 1em;
    box-sizing: border-box;
    padding: 2.5em 0;
}

.adminPage input[type="checkbox"] {
    width: 1em;
    height: 1em;
}

.adminPage label:has(input[type="checkbox"]) {
    display: flex;
    align-items: center;
}

.adminPage ol li span.label-element {
    justify-content: center;
}

.adminPage ol li form {
    display: flex;
    justify-content: center;
}

.adminPage ol li form button {
    margin: 0.2em;
}

.adminPage #evento-box-admin {
    flex-direction: column-reverse;
}

.adminPage #evento-box-admin img {
    width: 100%;
    position: relative;
    top: unset;
}

.adminPage #evento-info-admin {
    width: 100%;
    position: relative;
    top: unset;
    gap: 0 1em;
    box-sizing: border-box;
    padding: 2.5em 0;
}

.adminPage form.aggiunta-modifica {
    grid-template-areas: 'titolo  ' 'messaggi' 'input   ' 'bottoni ';
}

.adminPage form.aggiunta-modifica h3#titolo,
.adminPage form.aggiunta-modifica div#input {
    position: unset;
    max-width: var(--widthMenu);
}

.adminPage form.aggiunta-modifica div#buttons {
    padding: unset;
    position: fixed;
    top: unset;
}

.adminPage form.aggiunta-modifica div#buttons :first-child {
    margin-left: unset;
}

.adminPage form.aggiunta-modifica div#buttons :last-child {
    margin-right: unset;
}

.adminPage form.aggiunta-modifica div#buttons button {
    padding: unset;
    margin: 0 0.125em;
    width: 100%;
}

.adminPage form.aggiunta-modifica h3#titolo {
    /* padding: unset; */
    text-align: center;
}


/* 
 * TABELLE CLASSIFICHE 
 */

.div-classifica {
    flex-direction: column-reverse;
}

.div-classifica p {
    min-width: inherit;
    margin: 0;
    margin-block: 1em;
    /* text-align: justify; */
    text-align: left;
}

table#tabella-classifica {
    width: 100%;
    margin: auto;
}

body .titolo-filtri {
    position: unset;
    top: unset;
    z-index: unset;
    background-color: unset;
}

div.des-classifica p {
    position: unset;
    top: unset;
    z-index: unset;
}


/*
 * PAGINE ERROR DOCUMENT
 */

.errorDocument .errorImage {
    width: 100%;
}


/* 
 * PAGINA CHI SIAMO
 */

#chi-siamo-container .eventi-container {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

#chi-siamo-container #info-eventi {
    padding: unset;
}