/*
* COMUNE
 */

:root {
    --menuWidth: 90%;
    --menuMinWidth: 50%;
    --cardBorderRadius: 8px;
    --cardBgColor: var(--secondaryColor);
    --cardBorderColor: var(--accentColor);
}

body {
    padding-top: 3.5em;
}

/*body.js[data-menu-open=true] {
     overflow-y: hidden; 
}*/
.limitedWidth {
    width: unset;
    max-width: unset;
    margin: unset;
    padding: unset;
    box-sizing: unset;
}

.logo {
    font-size: 2.2rem;
    letter-spacing: 0.15em;
}

.mobileCard {
    border-radius: var(--cardBorderRadius);
    background-color: var(--cardBgColor);
    border: solid 2px var(--cardBorderColor);
}


/* 
 * ERROR
 */


/* 
 * SUCESS
 */


/* 
 * FORM
 */


/* 
 * BUTTON
 */


/*
 * INPUT
 */

input {
    border-radius: 3px;
}


/* 
 * HEADER
 */

header {
    height: 1.75em;
    justify-content: center;
}

header>a {
    margin: 0;
}

header .logo {
    font: 2.2rem;
}


/* 
 * MENU
 */

#menu {
    display: block;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(2em + 44px);
    box-sizing: border-box;
    width: var(--menuWidth);
    padding-bottom: 1em;
    z-index: var(--elevationHigh);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#menu.js[data-menu-open="false"] {
    transform: translate(-50%, 200%);
    opacity: 0.1;
    transition: transform 0.3s, opacity 0.3s;
}

#menu[data-menu-open="true"] {
    transform: translateX(-50%);
    opacity: 1;
    transition: transform 0.4s, opacity 0.2s;
}

#menu h3 {
    position: static;
    width: 100%;
    padding: 0 1em;
    margin-bottom: 0.75em;
    box-sizing: border-box;
    border-bottom: 2px solid var(--accentColor);
    text-align: left;
    text-indent: unset;
    line-height: 2em;
    font-size: 1.2em;
    font-weight: normal;
}

/* #menu ul li {
    display: block;
    margin-inline: 0;
} */

#menu.js ul li {
    display: block;
    margin-inline: 0;
}

.menuItem {
    display: block;
    padding: unset;
    border: unset;
    background-color: unset;
    font-size: 1.5em;
    font-weight: bold;
}

#menu.js .menuItem {
    margin: 0.1em 0.75em;
    line-height: 2em;
}

#menu #currentLink {
    color: var(--secondaryColor);
    background-color: var(--accentColor);
}


/* 
 * BREADCRUMBS
 */

#breadcrumbs-container {
    position: fixed;
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    min-width: var(--menuMinWidth);
    max-width: var(--menuWidth);
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    z-index: var(--elevationHigh);
}

#breadcrumbs-container.js {
    transition: 0.5s;
}


/* #breadcrumbs-container.js[data-menu-open=true] { */

#breadcrumbs-container[data-menu-open=true] {
    min-width: var(--menuWidth);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

#breadcrumbs {
    margin: 0.5em;
    overflow: scroll;
    white-space: nowrap;
}

#breadcrumbs p {
    font-size: 1.2em;
}

#breadcrumbs p #ti-trovi-in {
    position: absolute;
    text-indent: -999em;
}

#btn-menu {
    display: block;
    height: 44px;
    aspect-ratio: 1;
    border-radius: 0;
    border: unset;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: var(--accentColor);
    transition: 0.5s;
    background-image: url("../assets/icons/burger_menu.svg");
}

#btn-menu:active {
    transform: scale(1.1);
    transition: 0.1s;
}

#breadcrumbs-container.js[data-menu-open=true] #btn-menu {
    background-image: url("../assets/icons/close.svg");
}


/* 
 * FOOTER
 */

footer {
    width: 100%;
    box-sizing: border-box;
    padding: 1em 1em;
    padding-bottom: calc(2em + 44px + 1em);
}

footer #footer-content {
    grid-template-columns: 1fr;
    gap: 2em;
}

footer .logo {
    position: static;
}


/*
 * HOME
 */

#index #breadcrumbs-container {
    position: fixed;
    left: 50%;
    top: unset;
    right: unset;
}

#index {
    padding-top: unset;
}

#titoloHome video {
    border-left: unset;
    width: 100%;
    max-width: unset;
}

#titoloHome #titolo {
    position: absolute;
    top: 50%;
    right: 0;
    padding: 1.5em 2em;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 2px solid var(--accentColor);
    background-color: var(--secondaryColor);
}

#index #titoloHome h1 {
    font-family: "Hokia";
    font-size: 2em;
}


/*
 * PAGINA EVENTI
 */


/* Form di ricerca */

.form-container {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 5px;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}


/* Lista degli eventi */

#lista-eventi {
    position: relative;
    text-align: center;
    margin-top: 0.25rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#lista-eventi article {
    background-color: #fff;
    border-radius: 0.5em;
    box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.1);
    padding: 1em;
    text-align: center;
    flex: 100% 0 1;
    margin-right: 0em;
    margin-bottom: 1em;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#lista-eventi article a {
    text-decoration: none;
    display: flex;
    width: 100%;
    height: 100%;
    display: block;
    color: #000;
}

#lista-eventi article img {
    max-width: 100%;
}

#lista-eventi article:last-child {
    margin-right: 0em;
}

#lista-eventi article p {
    flex-grow: 1;
}

#evento-box {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#evento-box img {
    max-width: 100%;
}

#evento-info {
    padding: 1em;
}

/* 
 * PAGINA BATTLE
 */

 #container_battle {
    display: flex;
    flex-direction: column;
}
#container_iframe iframe {
    width: 96vw;
    height:45vw;  
}
#container_iframe{
    position: sticky;
    top: 0;
    background-color: var(--accentColor);
    width: 100%;
    height: 100%;
    

}


#lista_battle{
    width: 96vw;
}
/* 
 * PAGINA BEATS
*/
#lista_beats .beat{
    display: flex;
    flex-direction: column;
    padding: 0.1em 0em;
}
#lista_beats .firstRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    min-width: 100%;
}
#lista_beats .titoloContainer{
    max-width: 60vw;
    min-width: 60vw;
    border-style: none;
    padding: 0em;
    
}
#lista_beats .titleBeat {
    border-style: dashed;
    border-width: 0em 0em 0.1em 0em;
    border-color: var(--accentColor);
    padding: 1em;
    align-self: center;
}

#lista_beats .durata{
    align-self: center;
    
}
#lista_beats .beat button[data-isPlaying="false"]{
    background-image: url("../assets/icons/Play.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    color: transparent;
    opacity: 1;
}

#lista_beats .descBeats{
    text-align: center;
    padding: 1em;
    margin: 0em;
}

/* 
 * PAGINA CLASSIFICHE 
 */

#form-classifiche label {
    margin-bottom: 0;
    margin-right: 10px;
}

table#tabella-classifica {
    min-width: inherit;
    margin: auto;
}

.div-classifica p {
    min-width: inherit;
}

table#tabella-classifica caption {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

table#tabella-classifica thead {
    background-color: var(--accentColor);
    color: var(--txtColor);
}

table#tabella-classifica th, table#tabella-classifica td {
    padding: 0.3em 0.5em;
}

table#tabella-classifica th {
    text-align: left;
}

table#tabella-classifica .classifica-punti {
    text-align: right;
}

div.div-classifica p {
    text-align: left;
}

div.div-classifica {
    display: initial;
}

div#Micelio, div#Fungo {
    background-image: none;
}