@font-face {
    font-family: Horizontale;
    src: url('../assets/fonts/Horizontale.ttf') format('truetype');
}

@page {
    margin: 10mm;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.navigationHelp {
    display: none;
}

a:visited {
    color: rgb(89, 89, 89);
}

img {
    width: 5cm;
    object-fit: cover;
}

button,
.button,
.iconButton,
.toggleIconButton,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.25em;
}

p {
    margin: 0.5em;
}

dt {
    font-weight: bold;
    margin-top: 0.25em;
}

ul,
ol,
dl {
    margin: 0.5em;
}


/* 
 * MENU
 */

#menu-skip ul {
    display: none;
}

#menu {
    display: none;
}

.title {
    font-family: "Horizontale";
}

.logo {
    font-family: "Horizontale";
    font-size: 2rem;
}


/*
 * FOOTER
 */

footer {
    margin-top: 5em;
}


/*
 * TABELLE CLASSIFICHE
 */

table {
    width: 100%;
    min-width: 48%;
    border-collapse: collapse;
}

table caption {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

table thead {
    background-color: #c9c9c9;
}

table tr {
    border-bottom: 1px solid #c9c9c9;
}

table th,
table td {
    padding: 0.3em 0.5em;
}

table th {
    text-align: left;
}