@font-face {
    font-family: Horizontale;
    src: url('../assets/fonts/Horizontale.ttf') format('truetype');
}

@page {
    margin: 10mm;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.navigationHelp {
    display: none;
}

a:visited {
    color: rgb(89, 89, 89);
}

img {
    width: 5cm;
    object-fit: cover;
}

button,
.button,
.iconButton,
.toggleIconButton,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.25em;
}

p {
    margin: 0.5em;
}

dt {
    font-weight: bold;
    margin-top: 0.25em;
}

ul {
    margin: 0.5em;
}


/* 
 * MENU
 */

#menu-skip ul {
    display: none;
}

#menu {
    display: none;
}

.title {
    font-family: "Horizontale";
}

.logo {
    font-family: "Horizontale";
    font-size: 2rem;
}

footer {
    margin-top: 5em;
}


/*
 * PAGINA HOME
 */

#index header h1.logo {
    display: none;
}

#index #hero h2 {
    margin-top: unset;
    font-size: 4cm;
    text-align: center;
}

#video-home {
    display: none;
}

#evento-home {
    margin: 2em;
}

#evento-home div {
    width: fit-content;
    padding: 1em;
    margin: 0.25em;
    border: 2px solid black;
}

#evento-home h4 {
    font-size: 1.5em;
}

#evento-home a {
    display: none;
}

#eventi-home dl {
    display: flex;
}

.eventoPrincipaleHome {
    padding: 1em;
}

.eventoPrincipaleHome figure {
    margin: 0.25em;
    box-sizing: border-box;
    border: 1px solid;
}

.eventoPrincipaleHome .ddImg img {
    height: 5cm;
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
    object-fit: contain;
}

.eventoPrincipaleHome .ddImg figcaption {
    border-top: 1px solid;
    padding: 0.5em;
}


/*
 * PAGINA EVENTI
 */

#eventi form {
    display: none;
}

#lista-eventi {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}

#lista-eventi li {
    border: 1px solid;
    list-style: none;
}

#lista-eventi li a {
    height: 4cm;
    box-sizing: border-box;
    display: grid;
    grid-template-areas: 'img titolo' 'img data';
    grid-template-columns: auto 1fr;
}

#lista-eventi li a:visited {
    color: rgb(89, 89, 89);
}

#lista-eventi li img {
    grid-area: img;
    height: 4cm;
    padding: 1em;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    object-fit: contain;
    border-right: 1px solid black;
}

#lista-eventi li h3 {
    grid-area: titolo;
    margin: 1em;
    box-sizing: border-box;
}

#lista-eventi li p {
    grid-area: data;
    margin: 1em;
    box-sizing: border-box;
}

#lista-eventi .eventoNoImmagine h3 {
    height: unset;
}

#lista-eventi .eventoNoImmagine .cornice {
    grid-area: img;
    height: 4cm;
    padding: 1em;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    object-fit: contain;
    border-right: 1px solid black;
    overflow: hidden;
}

#lista-eventi .eventoNoImmagine .cornice .scritte {
    height: 100%;
    transform: rotate(336deg) scale(1.5);
    user-select: none;
    word-wrap: break-word;
    text-align: center;
    font-size: 1.25em;
    font-family: 'Horizontale';
    text-decoration: none;
}

#filtri-applicati {
    font-weight: bold;
}

#paginazione-eventi ul {
    display: none;
}


/*
 * PAGINA EVENTO
 */

#evento #content {
    padding-bottom: unset;
    display: grid;
    grid-template-areas: 'titolo titolo' 'img dl';
    grid-template-columns: 40% 60%;
    grid-template-rows: min-content;
    align-items: start;
}

#evento #indietro {
    display: none;
}

#evento #titolo {
    grid-area: titolo;
    padding-block: 0.35em;
    margin: unset;
    box-sizing: border-box;
    border-bottom: 1px solid;
}

#evento #titolo h2 {
    margin: unset;
    padding: 0.15em;
    font-family: 'Horizontale';
    text-align: center;
}

#evento #img-container {
    grid-area: img;
    padding: 1.5em;
    box-sizing: border-box;
    text-align: center;
    height: 100%;
    position: relative;
}

#evento #scritte-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#evento #scritte {
    height: 100%;
    pointer-events: none;
    user-select: none;
    word-wrap: break-word;
    transform: rotate(336deg) scale(1.5);
    font-size: 3vw;
    font-family: 'HORIZONTALE';
    text-align: center;
    opacity: 0.3;
}

#evento #img-container img {
    max-width: 100%;
    max-height: 88vh;
    object-fit: contain;
}

#evento-info {
    grid-area: dl;
    padding: 1.5em;
}

#evento-info dt {
    font-weight: bold;
    font-size: 1.75em;
}

#evento-info dd {
    font-size: 1.2em;
    margin-bottom: 1em;
}

#evento-info dd#descrizione {
    white-space: pre-wrap;
}


/*
 * PAGINA CLASSIFICHE
 */

#classifiche form {
    display: none;
}

.des-classifica {
    display: none;
}

table {
    width: 100%;
    min-width: 48%;
    border-collapse: collapse;
}

table caption {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

table thead {
    background-color: #c9c9c9;
}

table tr {
    border-bottom: 1px solid #c9c9c9;
}

table th,
table td {
    padding: 0.3em 0.5em;
}

table th {
    text-align: left;
}


/* 
 * PAGINA MODALITA' 
 */

#container_iframe {
    display: none;
}

#modalita ul {
    margin: 0.5em;
    margin-left: 2em;
    list-style: circle;
}

#modalita dl {
    margin: 0.5em;
}

#modalita dl dd {
    margin-left: 0.5em;
}


/* 
 * PAGINA BEATS
 */

#beats #audio_container {
    display: none;
}

#beats .beat h3 {
    margin-top: 1em;
}

#beats .descBeats {
    display: block;
}

#beats .descBeats::before {
    content: "Audio descrizione: ";
}

#beats .durata::before {
    content: "Durata: ";
}


/*
 * CHI SIAMO
 */

#chi-siamo img {
    margin: 0.5em;
    float: left;
}

#chi-siamo h3 {
    clear: both;
}