/*
 * VARIABILI CSS
 */

:root {
    --bgColor: #000;
    --txtColor: #FFF2EA;
    --accentColor: #EF754A;
    --secondaryColor: #262626;
    --linkColor: #00F;
    --visitedLinkColor: #FFF;
    --successColor: #ACC3A6;
    --errorColor: #a00;
    --widthMax: 1024px;
    --elevationHigh: 1000;
    --elevationMiddle: 1;
    --elevationLow: 0;
}

@font-face {
    font-family: Hokia;
    src: url('../fonts/Hokia\ Regular.ttf');
}


/*
 * COMUNE
 */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100vh;
    padding-top: 5em;
    color: var(--txtColor);
    background-color: var(--bgColor);
}

.navigationHelp {
    position: absolute;
    text-indent: -999em;
}

.limitedWidth {
    width: 100%;
    max-width: var(--widthMax);
    margin: 0 auto;
    padding: 0 2em;
    box-sizing: border-box;
}


/* 
 * ERROR
 */


/* 
 * SUCESS
 */


/* 
 * FORM
 */


/* 
 * BUTTON
 */


/*
 * INPUT
 */


/* 
 * HEADER e MENU
 */

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2em;
    z-index: var(--elevationHigh);
    background-color: var(--accentColor);
}

header h1 {
    text-shadow: 0 0 8px #ffffff;
    font-family: Hokia;
    font-size: 3.5em;
    margin: 0 0.5em;
    color: var(--txtColor);
}

#menu {
    text-align: center;
    width: 100%;
    transform: translateY(40%);
}

#menu ul {
    list-style: none;
}

#menu ul li {
    display: inline-block;
    margin: 0 0.5em;
}

#menu ul li a {
    padding: 0.6em 1em;
    cursor: pointer;
    border-radius: 70px;
    background-color: white;
    border: 1px solid black;
    color: black;
    font-size: 1em;
    font-weight: bold;
    transition: border-radius 0.5s, background-color 0.2s;
}

#menu ul li a:hover {
    background-color: #949494;
}

#menu ul li#currentLink {
    padding: 0.6em 1em;
    border: 1px solid black;
    text-decoration: none;
    border-radius: 70px;
    color: black;
    font-size: 1em;
    font-weight: bold;
    transition: border-radius 0.5s, background-color 0.2s;
    background-color: #949494;
}


/* 
 * BREADCRUMBS
 */

#breadcrumbs-container {}

#breadcrumbs p {
    margin-bottom: 2em;
}

#breadcrumbs p a {}

#btnMenu {
    display: none;
}


/* 
 * MAIN CON MAX WIDTH? solo desktiop
 */


/* 
 * FOOTER
 */

footer {
    margin-top: auto;
    background-color: var(--secondaryColor);
    border-top: 2px solid var(--accentColor);
    padding: 2em 3em;
}

footer #footer-credits h6 {
    position: relative;
    text-shadow: 0 0 8px #ffffff;
    font-family: Hokia;
    font-size: 2.5em;
    color: var(--txtColor);
}

footer ul {
    list-style: none;
}


/*
 * css classifiche
 */