/*
 * VARIABILI CSS
 */

:root {
    --bgColor: #000;
    --txtColor: #FFF2EA;
    --accentColor: #EF754A;
    --secondaryColor: #262626;
    --linkColor: #00F;
    --visitedLinkColor: #FFF;
    --successColor: #ACC3A6;
    --errorColor: #a00;
    /* --accentColor: #d1c4e9; */
}

@font-face {
    font-family: Hokia;
    src: url('../fonts/Hokia\ Regular.ttf');
}


/*
 * COMUNE
 */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: var(--bgColor);
}

body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100vh;
    padding-top: 5em;
    color: var(--txtColor);
}

.navigationHelp {
    position: absolute;
    text-indent: -999em;
}


/* 
 * ERROR
 */


/* 
 * SUCESS
 */


/* 
 * FORM
 */


/* 
 * BUTTON
 */


/*
 * INPUT
 */


/* 
 * HEADER e MENU
 */

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2em;
    background-color: var(--accentColor);
    border-bottom: 2px solid black;
}

header h1 {
    text-shadow: 0 0 8px #ffffff;
    font-family: Hokia;
    font-size: 3.5em;
    margin: 0 0.5em;
    color: var(--txtColor);
}

#menu {
    text-align: center;
    width: 100%;
    margin: 0 2em;
    transform: translateY(50%);
}

#menu ul {
    list-style: none;
}

#menu ul li {
    display: inline;
    margin: 0 0.5em;
}

#menu ul li a {
    padding: 0.6em 1em;
    cursor: pointer;
    border-radius: 70px;
    background-color: white;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    font-size: 1em;
    font-weight: bold;
    transition: border-radius 0.5s, background-color 0.2s;
}

#menu ul li a:hover {
    background-color: #949494;
}

#menu ul li#currentLink {
    padding: 0.6em 1em;
    border: 1px solid black;
    text-decoration: none;
    border-radius: 70px;
    color: black;
    font-size: 1em;
    font-weight: bold;
    transition: border-radius 0.5s, background-color 0.2s;
    background-color: #949494;
}


/* 
 * BREADCRUMBS
 */

#breadcrumbs-container {}

#breadcrumbs p {}

#breadcrumbs p a {
    text-decoration: none;
}

#btnMenu {
    display: none;
}


/* 
 * MAIN CON MAX WIDTH? solo desktiop
 */


/* 
 * FOOTER
 */

footer {
    margin-top: auto;
}


/*
 * css classifiche
 */